<%= form_for(@event_parameter_choice) do |f| %>

  <div class="field">
    <%= f.label :event_parameter_id %><br>
    <%= f.number_field :event_parameter_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
