<p id="notice"><%= notice %></p>

<h1>Listing Event Parameter Choices</h1>

<table>
  <thead>
    <tr>
      <th>Event parameter</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_parameter_choices.each do |event_parameter_choice| %>
      <tr>
        <td><%= event_parameter_choice.event_parameter_id %></td>
        <td><%= event_parameter_choice.value %></td>
        <td><%= link_to 'Show', event_parameter_choice %></td>
        <td><%= link_to 'Edit', edit_event_parameter_choice_path(event_parameter_choice) %></td>
        <td><%= link_to 'Destroy', event_parameter_choice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event parameter choice', new_event_parameter_choice_path %>
