<%= form_for(@position) do |f| %>

  <div class="field">
    <%= f.label t('Name'), :class => 'label' %>
    <div class="control">
      <%= f.text_field :name, :class => 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label 'Prioriteetti', :class => 'label' %>
    <div class="control">
      <%= f.number_field :priority, :class => 'input' %>
    </div>
  </div>



  <div class="field">
    <label class="checkbox">
      <%= f.check_box :show_in_contact_info %>
      Näytä yhteystiedoissa
    </label>
  </div>
  

  <div class="actions">
    <%= f.submit "Tallenna", :class => 'button is-link' %>
  </div>
<% end %>