<%= form_for(@position) do |f| %>

  <div class="field">
    <%= f.label 'Nimi' %> <br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label 'Prioriteetti' %> <br>
    <%= f.number_field :priority %>
  </div>

  <div class="field">
    <%= f.label 'N채yt채 yhteystiedoissa' %> <br>
    <%= f.check_box :show_in_contact_info %>
  </div>
  

  <div class="actions">
    <%= f.submit "Lis채채 virka" %>
  </div>
<% end %>