<h1>Listing positions</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Priority</th>
      <th>Show in contact info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td><%= position.priority %></td>
        <td><%= position.show_in_contact_info %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Uusi virka', new_position_path %>