<div class="box">
   
  <h1 class="title">Virat</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Virka</th>
        <th>Prioriteetti</th>
        <th>Näytä yhteystiedoissa</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @positions.each do |position| %>
        <tr>
          <td><%= position.name %></td>
          <td><%= position.priority %></td>
          <td><%= check_box_tag 'Näytä yhteystiedoissa', 'Näytä yhteystiedoissa', position.show_in_contact_info, disabled: true %></td>
          <td><%= link_to t('Edit'), edit_position_path(position), :class => 'button is-link' %></td>
          <td><%= link_to t('Remove'), position, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button is-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Uusi virka', new_position_path %>
</div>