<%= form_for(@hand) do |f| %>
  <% if @hand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hand.errors.count, "error") %> prohibited this hand from being saved:</h2>

      <ul>
      <% @hand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_id %><br>
    <%= f.number_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :points1 %><br>
    <%= f.number_field :points1 %>
  </div>
  <div class="field">
    <%= f.label :points2 %><br>
    <%= f.number_field :points2 %>
  </div>
  <div class="field">
    <%= f.label :declarer %><br>
    <%= f.number_field :declarer %>
  </div>
  <div class="field">
    <%= f.label :bid %><br>
    <%= f.number_field :bid %>
  </div>
  <div class="field">
    <%= f.label :contract %><br>
    <%= f.number_field :contract %>
  </div>
  <div class="field">
    <%= f.label :made %><br>
    <%= f.check_box :made %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
