<%= form_for(@document_group) do |f| %>

  <div class="field">
    <%= f.label :name, 'Nimi', :class => 'label' %>
    <div class="control">
      <%= f.text_field :name, :class => 'input', :required => true, :pattern => "[a-zA-Z0-9äöÄÖ\s\-]+" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :display_name, 'Lyhyt nimi', :class => 'label' %>
    <div class="control">
      <%= f.text_field :display_name, :class => 'input', :required => true %>
    </div>
  </div>

  <% if @document_group_category_id and @document_group.new_record? %>

    <div class="field">
      <%= f.hidden_field :document_group_category_id, :value => @document_group_category_id %>
    </div>

  <% else %>

    <div class="field">
      <%= f.label :document_group_category_id, 'Yläkategoria', :class => 'label' %>
      <div class="select">
        <%= f.select :document_group_category_id, options_from_collection_for_select(@document_group_categories, :id, :name, :selected => @document_group_category_id), :required => true %>
      </div>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit :value => 'Tallenna', :class => 'button is-link' %>
  </div>
<% end %>
