<p id="notice"><%= notice %></p>

<h1>Dokumentit</h1>

<% @document_group_categories.each do |document_group_category| %>
         
  <% if admin %>

    <h3><%= link_to document_group_category.name, document_group_category %></h3>

  <% else %>

    <h3><%= document_group_category.name %></h3>

  <% end %>

  <br>

  <ul>
    <% @document_groups.select{ |m| m.document_group_category and m.document_group_category.id == document_group_category.id}.each do |document_group| %>

  	<li><%= link_to document_group, "/dokumentit/" + document_group.name.tr(' ', '+') %></li>

  <% end %>
  </ul>
         
<% end %>

<% if admin %>

  <%= link_to 'New Document group category', new_document_group_category_path %>

  <br><br>

  <%= link_to 'New Document', new_document_path %>

<% end %>