<div class="box">

  <h1 class="title is-spaced"><%= t('documents') %></h1>

  <% if sub_admin %>

    <%= link_to t('new_category'), new_document_group_category_path %>
    <br>
    <%= link_to t('new_document'), new_document_path %>
    <br>
    <br>

  <% end %>

  <% @document_group_categories.each do |document_group_category| %>

    <% if sub_admin %>
      <h3 class="subtitle"><%= link_to document_group_category.get_name, document_group_category %></h3>
    <% else %>
      <h3 class="subtitle"><%= document_group_category.get_name %></h3>
    <% end %>

    <ul>

    <% @document_groups.select{ |m| m.document_group_category and m.document_group_category.id == document_group_category.id}.each do |document_group| %>

    	<li><%= link_to document_group.get_name, document_group_page_path(document_group.name.tr(' ', '+')) %></li>

    <% end %>

    </ul>

    <br>
           
  <% end %>
</div>