<div class="box">

	<% if @document_group_category_id %>
		<h1 class="title"><%= t('new_group_for_category') %> <%= @document_group_category.get_name %></h1>
	<% else %>
		<h1 class="title"><%= t('new_group') %></h1>
	<% end %>

	<%= render 'form' %>

	<% if @document_group_category_id %>

		<br>

		<%= link_to t('Back'), document_group_category_path(@document_group_category_id) %>

	<% end %>

</div>