<div class="box">

   <h2 class="title"> <%= @document_group.name %> </h2>

   <% if sub_admin %>

      <%= link_to "Uusi dokumentti", '/document_groups/' + @document_group_id.to_s + '/new_document', class: "btn btn-primary" %><br>
      <%= link_to 'Muokkaa kategoriaa', edit_document_group_path(@document_group) %><br>
      <%= link_to 'Poista kategoria', @document_group, method: :delete, data: { confirm: 'Oletko varma?' } %>

      <br>
      <br>
   <% end %>

   <table class="table">
      
      <tbody>
         <% @documents.each do |document| %>
            
            <tr>
               <td><%= link_to document.name, document.attachment_url %></td>
               <% if sub_admin %>
               <td><%= link_to "Muokkaa", edit_document_path(document) %></td>
               <td><%= button_to "Poista",  document, method: :delete, class: "button is-danger", data: {confirm: "Oletko varma?"} %></td>
               <% end %>
            </tr>
            
         <% end %>
      </tbody>
      
   </table>

</div>
