<%= form_for(@signup) do |f| %>
  <% if @signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this signup from being saved:</h2>

      <ul>
      <% @signup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
      <div class="field">
      <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
  <% else %>
      <br>
      <div class="field">
        <%= f.label 'Nimi' %> <br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label 'Sähköpostiosoite' %> <br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label 'Puhelinnumero' %> <br>
        <%= f.text_field :phonenumber %>
      </div>
  <% end %>

  <%= f.fields_for :signup_parameters do |p| %>
    <%= p.hidden_field :event_parameter_id, value: p.object.event_parameter_id  %>
      <div class="field">
          <%= p.label p.object.event_parameter.name %><br>

          <% if p.object.event_parameter.event_parameter_type.name == 'Teksti' %>
            <%= p.text_field :value %>
          <% end %>

          <% if p.object.event_parameter.event_parameter_type.name == 'Valintaruutu' %>
            <%= p.check_box :value %>
          <% end %>

          <% if p.object.event_parameter.event_parameter_type.name == 'Valintanappi' %>
            <%= p.radio_button :value, 'eka' %>
            <%= p.label :multiple_classes, 'eka' %>
            <%= p.radio_button :value, 'toka' %>
            <%= p.label :multiple_classes, 'toka' %>
          <% end %>

          <br>

        </div>
        
      
  <% end %>

  <div class="field">
    <%= f.hidden_field :event_id, value: @event.id %>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Ilmoittaudun' %>
  </div>
<% end %>
