<div class="box">

  <h2 class="title is-spaced"><%= @event.name %></h2>

  <h3 class="subtitle">Ilmoittautuneet</h3>

  <% if @signups and !@signups.empty? %>

    <table class="table is-narrow">
      <thead>
      <tr>
        <th></th>
        <th>Nimi</th>
        <% if admin %>
          <th>Sähköposti</th>
          <% @event.event_parameters.each do |param| %>
            <th> <%= param.name %> </th>
          <% end %>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @signups.each do |signup| %>
        <tr>
          <td><%= @signup_count %>. </td>
          <td><%= signup %></td>
          <% if admin %>
            <td><%= signup.get_email %></td>
            <% signup.signup_parameters.each do |param| %>
              <% if param.event_parameter %>
                <% if param.event_parameter.event_parameter_type.name == 'Valintaruutu' %>
                  <% if param.value == "1" %>
                    <td><%= check_box_tag(param.event_parameter.name, value = "1", checked = true, options = {disabled: true}) %></td>
                  <% else %>
                    <td><%= check_box_tag(param.event_parameter.name, value = "0", checked = false, options = {disabled: true}) %></td>
                  <% end %>
                <% else %>
                  <td><%= param.value %></td>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% @signup_count = @signup_count + 1 %>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>
  <% end %>

  <% if @reserve %>

    <% @signup_count = 1 %>

    <h3 class="subtitle">Varasijalla</h3>

    <table class="table is-narrow">
      <thead>
      <tr>
        <th></th>
        <th>Nimi</th>
        <% if admin %>
          <th>Sähköposti</th>
          <% @event.event_parameters.each do |param| %>
            <th> <%= param.name %> </th>
          <% end %>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @reserve.each do |signup| %>
        <tr>
          <td><%= @signup_count %>. </td>
          <td><%= signup %></td>
          <% if admin %>
            <td><%= signup.get_email %></td>
            <% signup.signup_parameters.each do |param| %>
              <% if param.event_parameter %>
                <% if param.event_parameter.event_parameter_type.name == 'Valintaruutu' %>
                  <% if param.value == "1" %>
                    <td><%= check_box_tag(param.event_parameter.name, value = "1", checked = true, options = {disabled: true}) %></td>
                  <% else %>
                    <td><%= check_box_tag(param.event_parameter.name, value = "0", checked = false, options = {disabled: true}) %></td>
                  <% end %>
                <% else %>
                  <td><%= param.value %></td>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% @signup_count = @signup_count + 1 %>
        </tr>
      <% end %>
      </tbody>
    </table>

  <% end %>

  <%= link_to 'Takaisin tapahtumaan', event_path(@event.id) %>
</div>
