<div class="box">

  <h2 class="title is-spaced"><%= @event.name %></h2>

  <h3 class="subtitle">Ilmoittautuneet</h3>

  <% if @signups %>

  <table class="table is-narrow">
    <thead>
    <tr>
      <th></th>
      <th>Nimi</th>
      <% if admin %>
        <th>Sähköposti</th>
        <% @event.event_parameters.each do |param| %>
          <th> <%= param.name %> </th>
        <% end %>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @signups.each do |signup| %>
      <tr>
        <td><%= @signup_count %>. </td>
        <td><%= signup %></td>
        <% if admin %>
          <td><%= signup.get_email %></td>
          <% signup.signup_parameters.each do |param| %>
            <% if param.event_parameter %>
              <td><%= param.value %></td>
            <% end %>
          <% end %>
        <% end %>
        <% @signup_count = @signup_count + 1 %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Takaisin tapahtumaan', event_path(@event.id) %>

  <% end %>
</div>
