<% if sub_admin %>
  <%= javascript_include_tag 'datatable' %>
<% end %>

<div class="box">

  <h2 class="title is-spaced"><%= @event.name %></h2>

  <% if @signups and !@signups.empty? %>

	<h3 class="subtitle">Ilmoittautuneet</h3>

    <%= render :partial => "signup_list", :locals => { :signups => @signups } %>

    <br>
  <% end %>

  <% if @reserve %>

	<h3 class="subtitle">Varasijalla</h3>

    <%= render :partial => "signup_list", :locals => { :signups => @reserve } %>

  <% end %>

  <%= link_to 'Takaisin tapahtumaan', event_path(@event.id) %>
</div>
