<p id="notice"><%= notice %></p>

<p>
  <strong>Event parameter:</strong>
  <%= @non_member_event_parameter_value.event_parameter_id %>
</p>

<p>
  <strong>Non member signup:</strong>
  <%= @non_member_event_parameter_value.non_member_signup_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @non_member_event_parameter_value.value %>
</p>

<%= link_to 'Edit', edit_non_member_event_parameter_value_path(@non_member_event_parameter_value) %> |
<%= link_to 'Back', non_member_event_parameter_values_path %>
