<%= form_for(@post_comment) do |f| %>
  <% if @post_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_comment.errors.count, "error") %> prohibited this post_comment from being saved:</h2>

      <ul>
      <% @post_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field(:post_id, :value => @post.id) %>
  </div>

  <div class="field">
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
  </div>

  <div class="field">
    <%= f.text_area :comment, :placeholder => 'Kirjoita kommentti' %>
  </div>
  <div class="actions">
    <%= f.submit "Lisää kommentti" %>
  </div>
<% end %>
