<%= form_for @user, :html => { :onsubmit => "var message = 'Oletko varma? ' + $('#membership_type').text(); return confirm(message)" } do |f| %>

  <% if @user.new_record? %>

    <h2 class="subtitle">Käyttäjätiedot</h2>

    <div class="field">
      <%= f.label :username, 'Käyttäjätunnus', :class => 'label' %>
      <div class="control">
        <%= f.text_field :username, :class => 'input', :required => true %>
      </div>
      <% if @user.new_record? %>
        <p class="help is-danger">
          Pakollinen kenttä
        </p>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password, 'Salasana', :class => 'label' %>
      <div class="control">
        <%= f.password_field :password, :class => 'input', :required => true %>
      </div>
      <% if @user.new_record? %>
        <p class="help is-danger">
          Pakollinen kenttä, vähintään 6 kirjainta
        </p>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Salasana uudelleen', :class => 'label' %>
      <div class="control">
        <%= f.password_field :password_confirmation, :class => 'input', :required => true %>
      </div>
      <% if @user.new_record? %>
        <p class="help is-danger">
          Pakollinen kenttä
        </p>
      <% end %>
    </div>

  <% end %>

  <h2 class="subtitle">Henkilötiedot</h2>

  <%= f.fields_for :member do |p| %>

    <div class="field">
      <%= p.label :firstname, 'Etunimet', :class => 'label' %>
      <div class="control">
        <%= p.text_field :firstname, :class => 'input', :required => true %>
      </div>
      <% if @user.new_record? %>
        <p class="help is-danger">
          Pakollinen kenttä
        </p>
      <% end %>
    </div>

    <div class="field">
      <%= p.label :nickname, 'Kutsumanimi', :class => 'label' %>
      <div class="control">
        <%= p.text_field :nickname, :class => 'input' %>
      </div>
    </div>

    <div class="field">
      <%= p.label :lastname, 'Sukunimi', :class => 'label' %>
      <div class="control">
        <%= p.text_field :lastname, :class => 'input', :required => true %>
      </div>
      <% if @user.new_record? %>
        <p class="help is-danger">
          Pakollinen kenttä
        </p>
      <% end %>
    </div>

    <div class="field">
      <%= p.label :email, 'Sähköpostiosoite', :class => 'label' %>
      <div class="control">
        <%= p.text_field :email, :class => 'input', :type => 'email', :required => true %>
      </div>
      <% if @user.new_record? %>
        <p class="help is-danger">
          Pakollinen kenttä
        </p>
      <% end %>
    </div>

    <div class="field">
      <%= p.label :address, 'Osoite', :class => 'label' %>
      <div class="control">
        <%= p.text_field :address, :class => 'input' %>
      </div>
    </div>

    <div class="field">
      <%= p.label :city, 'Kotikunta', :class => 'label' %>
      <div class="control">
        <%= p.text_field :city, :class => 'input' %>
      </div>
    </div>

    <h2 class="subtitle">Muut tiedot</h2>

	<% if @user.new_record? %>
		<i>Yhdistyksen <b>varsinaiseksi jäseneksi</b> voidaan hyväksyä jokainen Helsingin yliopiston Matemaattisluonnontieteellisen tiedekunnan vastuulla olevassa koulutusohjelmassa opiskeleva.</i>
		</br>
		<i><b>Ulkojäseneksi</b> voidaan hyväksyä kuka tahansa Helsingin yliopiston tutkinto- tai jatko-opiskelija.</i>
		</br>
		<i><b>Kannatusjäseneksi</b> voidaan hyväksyä yksityinen henkilö tai oikeuskelpoinen yhteisö.</i>
		</br>
		<i>Varsinaiset, ulko- ja kannatusjäsenet hyväksyy hakemuksesta yhdistyksen hallitus.</i>
		</br>
		<i>Yhdistyksen jäsenellä on oikeus osallistua yhdistyksen järjestämiin kokouksiin ja muihin yleisiin
		tilaisuuksiin. Kaikilla yhdistyksen jäsenillä on yhdistyksen kokouksissa puheoikeus. Yhdistyksen
		kokouksissa kaikilla varsinaisilla jäsenillä on äänioikeus ja yksi ääni. Muilla jäsenryhmillä ei ole
		äänioikeutta.</i>
		</br>
		<i>Kaikkien hallituksessa toimivien henkilöiden on oltava yhdistyksen
		varsinaisia jäseniä.</i>
		</br>
		</br>
	<% end %>

    <div class="field">
      <label class="checkbox">
        <%= p.check_box :hyy_member, :onchange => 'show_member()' %>
        Opiskelen Helsingin Yliopistossa tutkinto- tai jatko-opiskelijana
      </label>
    </div>

    <div class="field">
      <label class="checkbox">
        <%= p.check_box :mathstudent, :onchange => 'show_member()' %>
        Opiskelen jossain Helsingin yliopiston Matemaattis-luonnontieteellisen tiedekunnan vastuulla olevassa koulutusohjelmassa
      </label>
    </div>
  <% end %>

  <% if @user.new_record? %>

	<b id="membership_type">Liityt kannatusjäseneksi</b>
	</br>
	</br>

  <% else %>

	<b>Olet <%= @user.membership_type %></b>
	</br>
	</br>

  <% end %>

  <script>
		function show_member() {
			var hyy_member = $('#user_member_attributes_hyy_member:checked').val();
			var mathstudent = $('#user_member_attributes_mathstudent:checked').val();
			if (mathstudent === '1') {
				$('#membership_type').text("Liityt varsinaiseksi jäseneksi");
			}
			else if (hyy_member === '1') {
				$('#membership_type').text("Liityt ulkojäseneksi");
			}
			else {
				$('#membership_type').text("Liityt kannatusjäseneksi");
			}
		}

		show_member();
	</script>

  <div class="field">
    <div class="control">
      <%= f.submit :value => 'Tallenna', :class => 'button is-link' %>
    </div>
  </div>
<% end %>
