<div class="box">

  <h1 class="title is-spaced">Lukuvuosien <%= @year %>-<%= @year+1 %> ja <%= @year+1 %>-<%= @year+2 %> jäsenyydet</h1>

  <%= form_tag memberships_by_year_path do %>
    <div class="field">
      <%= label_tag :year, 'Valitse lukuvuosi', :class => 'label' %>
      <div class="control">
        <%= number_field_tag :year, @year, :class => 'input', :max => 3000, :min => 1991 %>
      </div>
    </div>

    <%= submit_tag 'Mene', :class => 'button is-link' %>

  <% end %>

  <br>
  <br>

  <h2 class="subtitle">Jäsenyydet</h2>

  <%= render :partial => "membership_list", :locals => { :users => @users, :year => @year } %>

</div>