<div class="box">

  <h1 class="title is-spaced">Lukuvuoden <%= @year %>-<%= @year+1 %> jäsenyydet</h1>

  <%= form_tag memberships_by_year_path do %>
    <div class="field">
      <%= label_tag :year, 'Valitse lukuvuosi', :class => 'label' %>
      <div class="control">
        <%= number_field_tag :year, @year, :class => 'input', :max => 3000, :min => 1991 %>
      </div>
    </div>

    <%= submit_tag 'Mene', :class => 'button is-link' %>

  <% end %>

  <br>
  <br>

  <h2 class="subtitle">Jäsenyydet maksamatta</h2>

  <%= form_tag update_memberships_path do %>
    <%= hidden_field_tag :year, @year %>

    <table class="table">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Sähköpostiosoite</th>
          <th>Jäsenyys voimassa</th>
        </tr>
      </thead>

    <tbody>
      <% @non_members.each do |user| %> 
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <%= fields_for "users[]", user do |f| %>
          <td><%= f.check_box :member, checked: user.membership(@year) %></td>
        <% end %>
      <% end %>
      </tr>
    </tbody>

    </table>

    <%= submit_tag 'Tallenna muutokset', :class => 'button is-link', data: { confirm: 'Oletko varma?' } %>
  <% end %>

  <br>

  <h2 class="subtitle">Kaikki jäsenyydet</h2>

  <%= form_tag update_memberships_path do %>
    <%= hidden_field_tag :year, @year %>

    <table class="table">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Sähköpostiosoite</th>
          <th>Jäsenyys voimassa</th>
        </tr>
      </thead>

    <tbody>
      <% @users.each do |user| %> 
      <tr>
      	<td><%= user.name %></td>
      	<td><%= user.email %></td>
        <%= fields_for "users[]", user do |f| %>
          <td><%= f.check_box :member, checked: user.membership(@year) %></td>
        <% end %>
      <% end %>
      </tr>
    </tbody>

    </table>

    <%= submit_tag 'Tallenna muutokset', :class => 'button is-link', data: { confirm: 'Oletko varma?' } %>
  <% end %>

</div>