<%= form_for @user, :url => {:action => "update_password" } do |f| %>

	<h2>Vaihda salasana</h2>

	<div class="field">
		<%= f.label :password, 'Nykyinen salasana'%>
		<%= f.password_field :current_password %>
	</div>

	<div class="field">
		<%= f.label :password, 'Uusi salasana'%>
		<%= f.password_field :new_password %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation, 'Uusi salasana uudelleen' %>
		<%= f.password_field :new_password_confirmation %>
	</div>

	<div class="actions">
      <%= f.submit :value => 'Tallenna' %>
    </div>

    <%= link_to 'Takaisin', @user %>

<% end %>