<div class="box">

	<%= form_for @user, :url => {:action => "update_password" } do |f| %>

		<h2 class="title">Vaihda salasana</h2>

		<div class="field">
			<%= f.label :password, 'Nykyinen salasana', :class => 'label' %>
			<div class="control">
				<%= f.password_field :current_password, :class => 'input', :required => true %>
			</div>
		</div>

		<div class="field">
			<%= f.label :password, 'Uusi salasana', :class => 'label' %>
			<div class="control">
				<%= f.password_field :new_password, :class => 'input', :required => true %>
			</div>
		</div>

		<div class="field">
			<%= f.label :password_confirmation, 'Uusi salasana uudelleen', :class => 'label' %>
			<div class="control">
				<%= f.password_field :new_password_confirmation, :class => 'input', :required => true %>
			</div>
		</div>

		<div class="actions">
	      <%= f.submit :value => 'Tallenna', :class => 'button is-link' %>
	    </div>

	<% end %>

</div>