<div class="box">

	<h2 class="title">Salasanan palautus</h2>

	<p>Anna käyttäjätunnuksesi ja sähköpostiosoitteesi</p>

	<br>

	<%= form_tag recover_password_path do %>

		<div class="field">
	      <%= label_tag :username, 'Käyttäjätunnus', :class => 'label' %>
	      <div class="control">
	        <%= text_field_tag :username, nil, :class => 'input', :required => true %>
	      </div>
	    </div>

	    <div class="field">
	      <%= label_tag :email, 'Sähköpostiosoite', :class => 'label' %>
	      <div class="control">
	        <%= text_field_tag :email, nil, :class => 'input', :required => true %>
	      </div>
	    </div>

		<div class="actions">
	      <%= submit_tag 'Palauta', :class => "button is-link" %>
	    </div>

	<% end %>

</div>