<%= form_tag recover_password_path do %>

	<h2>Salasanan palautus</h2>

	<p>Anna käyttäjätunnuksesi ja sähköpostiosoitteesi</p>

	<div class="field">
		<span>Käyttäjätunnus </span>
		<%= text_field_tag :username %>
	</div>

	<div class="field">
	    <span>Sähköpostiosoite </span>
		<%= email_field_tag :email %>
	</div>

	<div class="actions">
      <%= submit_tag 'Palauta' %>
    </div>

    <%= link_to 'Takaisin', root_path %>

<% end %>