<div class="box">

  <h2 class="title is-spaced">Omat tiedot</h2>

  <h3 class="subtitle">Jäsenyys</h3>

  <% if not @member %>
    <p class="has-text-danger">Jäsenmaksuasi tälle lukuvuodelle ei ole merkitty maksetuksi. Älä välitä tästä, jos olet maksanut sen.</p>
  <% else %>
    <% if @membership_max_year > @membership_this_year %>
      <p>Jäsenyytesi on voimassa lukuvuoden <%= @membership_max_year + 1 %> alkuun asti</p>
    <% else %>
      <p>Jäsenyytesi on voimassa lukuvuoden <%= @membership_this_year %>-<%= @membership_this_year + 1 %></p>
    <% end %>
  <% end %>

  <br>

  <%= render 'form' %>

  <% if sub_admin %>

    <br>

    <h1 class="subtitle">Virkailijakuva</h1>

    <p class="help">Kuva näytetään hallitus ja virkailijat sivulla</p>

    <br>

    <% if @user.get_avatar %>

      <%= image_tag(@user.get_avatar, size: "240x320") %>

      <br>

      <%= form_for @user, :url => { :action => "remove_picture" } do |f| %>

        <div class="actions">
          <%= f.submit 'Poista', data: { confirm: 'Oletko varma?' }, :class => 'button is-danger'  %>
        </div>

      <% end %>

      <br>

    <% end %>

    <%= form_for @user, :url => { :action => "add_picture" } do |f| %>

      <% if @user.get_avatar %>
        <h2 class="subtitle">Vaihda kuva</h2>
      <% else %>
        <h2 class="subtitle">Lisää kuva</h2>
      <% end %>

      <div class="field">
        <%= f.file_field :avatar, accept: 'image/png,image/jpg,image/jpeg' %> (kuvan koko korkeintaan 5 MB)
      </div>

      <div class="actions">
        <%= f.submit :value => 'Tallenna', :class => 'button is-link'  %>
      </div>

    <% end %>

  <% end %>

  <br>

  <%= link_to 'Vaihda salasana', new_password_path(@user) %>

</div>
