<p id="notice"><%= notice %></p>

<h2>Muokkaa omia tietoja</h2>

<%= render 'form' %>

<% if @user.player %>
    <h2>Huutopussiratingit</h2>

    <p>Olet sijalla <%= @user.player.placement %></p>

    <p>Odotusarvo: <%= @user.player.expectation.round(2) %></p>

    <p>Keskihajonta: <%= @user.player.deviation.round(2) %></p>

    <p>Vahvuus: <%= [(@user.player.expectation - 3*@user.player.deviation).round(2), 0].max %></p>

    <%= form_for(@player) do |f| %>
        <div class="field">
          <%= f.label :private, 'Älä näytä pisteitäni pääsivulla' %>
          <%= f.check_box :private %>
        </div>
        <%= f.submit :value => 'Tallenna' %>
    <% end %>

    <br>

<% end %>

<% if admin %>
    <%= form_for(@user) do |f| %>
        <div class="field">
          <%= f.label :activated, 'Aktivoi käyttäjä' %>
          <%= f.check_box :activated %>
        </div>
        <%= f.submit :value => 'Tallenna' %>
    <% end %>
<% end %>



<%= link_to 'Vaihda salasana', edit_user_path(@user) %> |
<%= link_to 'Takaisin', jatkantappajat_path %>
