<h2>Muokkaa omia tietoja</h2>

<% if not @member %>
  <p>Jäsenmaksuasi tälle lukuvuodelle ei ole merkitty maksetuksi. Älä välitä tästä, jos olet maksanut sen.</p>
<% end %>

<%= render 'form' %>

<% if sub_admin %>

  <%= form_for @user, :url => { :action => "add_picture" } do |f| %>

    <div class="form-area">

      <h2>Lisää kuva</h2>

      <div class="field">
        <%= f.file_field :avatar %>
      </div>

    </div>

    <div class="actions">
      <%= f.submit :value => 'Tallenna'  %>
    </div>

  <% end %>

<% end %>


<%= link_to 'Vaihda salasana', new_password_path(@user) %>
