<div class="box">

	<h2 class="title">Käyttäjätunnuksen haku</h2>

	<%= form_tag recover_username_path do %>

		<div class="field">
	      <%= label_tag :email, 'Sähköpostiosoite', :class => 'label' %>
	      <div class="control">
	        <%= text_field_tag :email, nil, :class => 'input', :required => true %>
	      </div>
	    </div>

		<div class="actions">
	      <%= submit_tag 'Hae', :class => "button is-link" %>
	    </div>

	<% end %>

	<br>

	<%= link_to 'Takaisin', :back %>

</div>