<%= form_for @event, :html => { :onsubmit => "return confirm('Oletko varma?')" } do |f| %>

  <%= javascript_include_tag 'events' %>

  <div class="field">
    <%= f.label :name, 'Nimi', :class => 'label' %>
    <div class="control">
      <%= f.text_field :name, :class => 'input', :required => true %>
    </div>
    <p class="help is-danger">
      Pakollinen kenttä
    </p>
  </div>
  <div class="field">
    <%= f.label :descr, 'Kuvaus', :class => 'label' %>
    <div class="control">
      <%= f.text_area :descr, :class => 'input textarea', :required => true %>
    </div>
    <p class="help is-danger">
      Pakollinen kenttä
    </p>
  </div>
  <div class="field">
    <%= f.label :descr_eng, 'Kuvaus englanniksi', :class => 'label' %>
    <div class="control">
      <%= f.text_area :descr_eng, :class => 'input textarea' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :starttime, 'Alkaa', :class => 'label' %>
    <div class="control">
      <%= f.datetime_field :starttime, :class => 'flatpickr input' %>
    </div>
    <p class="help is-danger">
      Pakollinen kenttä
    </p>
  </div>

  <div class="field">
    <%= f.label :endtime, 'Päättyy', :class => 'label' %>
    <div class="control">
      <%= f.datetime_field :endtime, :class => 'flatpickr input' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :location, 'Paikka', :class => 'label' %>
    <div class="control">
      <%= f.text_field :location, :class => 'input' %>
    </div>
  </div>
    <div class="field">
      <%= f.label :price, 'Hinta', :class => 'label' %>
      <div class="control">
        <%= f.number_field :price, :class => 'input', :min => 0, :step => 0.01 %>
      </div>
    </div>

  <div class="field">
    <%= f.label :event_type, 'Tyyppi', :class => 'label' %>
    <div class="control">
      <%= f.text_field :event_type, :class => 'input' %>
    </div>
  </div>
  <div class="field">
    <label class="checkbox">
      <%= f.check_box :signup_required, { :onchange => 'toggle_signup_options()' } %>
      Täytyykö ilmoittautua
    </label>
  </div>

  <div id="signup-options">

    <div class="field">
      <%= f.label :signup_limit, 'Ilmoittautumisraja', :class => 'label' %>
      <div class="control">
        <%= f.number_field :signup_limit, :class => 'input', :min => 1 %>
      </div>
    </div>

      <div class="field">
        <%= f.label :signup_start, 'Ilmoittautuminen alkaa', :class => 'label' %>
        <div class="control">
          <%= f.datetime_field :signup_start, :class => 'flatpickr input' %>
        </div>
      </div>
      <div class="field">
        <%= f.label :signup_end, 'Ilmoittautuminen päättyy', :class => 'label' %>
        <div class="control">
          <%= f.datetime_field :signup_end, :class => 'flatpickr input' %>
        </div>
      </div>
      <div class="field">
        <%= f.label :signup_cancellable_until, 'Ilmoittautuminen sitova alkaen', :class => 'label' %>
        <div class="control">
          <%= f.datetime_field :signup_cancellable_until, :class => 'flatpickr input' %>
        </div>
      </div>
      <div class="field">
        <label class="checkbox">
          <%= f.check_box :members_only %>
          Vain jäsenille
        </label>
      </div>

      <h2 class="subtitle">Lisätiedot</h2>

      <div name='event_parameters'>
        <div class='items'>
          <%= f.nested_fields_for :event_parameters, :wrapper => false do |p| %>
            <div class="fields">
              <div class="field">
                <%= p.label :name, 'Nimi', :class => 'label' %>
                <div class="control">
                  <%= p.text_field :name, :class => 'input', :required => true  %>
                </div>
              </div>
              <div class="field">
                <%= p.label 'Tyyppi', :class => 'label' %>
                <div class="select">
                  <%= p.select(:event_parameter_type_id, options_from_collection_for_select(@event_parameter_types, :id, :name, p.object.event_parameter_type_id), {}, :onchange => "show_event_parameter_choices(this.id, this.value)") %>
                </div>
                <div class="event_parameter_choices" style="display: none">
                  <br>
                  <h2 class="subtitle">Valintanapin vaihtoehdot</h2>
                  <%= p.nested_fields_for :event_parameter_choices, :wrapper => false do |c| %>
                    <div class="field">
                      <%= c.label :value, 'Vaihtoehto', :class => 'label' %>
                      <div class="control">
                        <%= c.text_field :value, :class => 'input' %>
                      </div>
                    </div>
                    <%= c.remove_nested_fields_link 'Poista vaihtoehto' %>
                  <% end %>
                  <br>
                  <%= p.add_nested_fields_link :event_parameter_choices, "Lisää vaihtoehto", :class => 'btn btn-primary' %>
                </div>
              </div>
              <div class="field">
                <label class="checkbox">
                  <%= p.check_box :required %>
                  Pakollinen
                </label>
              </div>
              <%= p.remove_nested_fields_link 'Poista kenttä' %>
            </div>
            <hr>
         <% end %>
        </div>
         <%= f.add_nested_fields_link :event_parameters, "Lisää kenttä", :class => 'btn btn-primary' %>
      </div>
      <br>

  </div>

  <% if !@event.new_record? %>

    <div class="field">
      <%= f.label :participants, 'Osallistujamäärä', :class => 'label' %>
      <div class="control">
        <%= f.number_field :participants, :class => 'input', :min => 0 %>
      </div>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit 'Tallenna', :class => 'button is-link' %>
  </div>

<% end %>
