<%= form_for @signup, :url => {:controller => 'events', :action => @action} do |f| %>

  <br>
  <% if current_user and @event.user_signed_up(current_user.id) %>
    <h3 class="subtitle">Muokkaa ilmoittautumistietoja</h3>
  <% else %>
    <h3 class="subtitle">Ilmoittaudu</h3>
    <% if @event.full %>
        <p class='help is-danger'>Tapahtuma on täynnä! Ilmoittaudut varasijalle.</p>
        <br>
    <% end %>
  <% end %>

  <% if current_user %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% else %>
    <div class="field">
      <%= f.label :name, t('Name'), :class => 'label' %>
      <div class="control">
        <%= f.text_field :name, :class => 'input', :required => true %>
      </div>
      <p class="help is-danger">
        <%= t('mandatory_field') %>
      </p>
    </div>
    <div class="field">
      <label class="label" for="signup_email">Sähköpostiosoite</label>
      <div class="control">
        <%= f.text_field :email, :class => 'input', :type => 'email' %>
      </div>
    </div>
  <% end %>

  <%= f.fields_for :signup_parameters do |p| %>
    <%= p.hidden_field :event_parameter_id, value: p.object.event_parameter_id  %>
      <% if p.object.event_parameter %>
        <div class="field">

          <div class="control">
            <% if p.object.event_parameter.event_parameter_type.name == 'Teksti' %>
              <%= p.label :id, p.object.event_parameter.name, :class => 'label' %>
              <%= p.text_field :value, :class => 'input', :required => p.object.event_parameter.required %>
            <% end %>

            <% if p.object.event_parameter.event_parameter_type.name == 'Valintaruutu' %>
              <label class="checkbox">
                <%= p.check_box :value, :required => p.object.event_parameter.required %>
                <%= p.object.event_parameter.name %>
              </label>
            <% end %>

            <% if p.object.event_parameter.event_parameter_type.name == 'Valintanappi' %>
              <% if p.object.event_parameter.event_parameter_choices.size > 0 %>
                <%= p.label :id, p.object.event_parameter.name, :class => 'label' %>
                <% p.object.event_parameter.event_parameter_choices.each_with_index do |choice, i| %>
                  <label class="radio">
                    <% if i == 0 and p.object.event_parameter.required %>
                      <%= p.radio_button :value, choice.value, :required => true %>
                    <% else %>
                      <%= p.radio_button :value, choice.value %>
                    <% end %>
                    <%= choice.value %>
                  </label>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <% if p.object.event_parameter.required %>
            <p class="help is-danger">
              <%= t('mandatory_field') %>
            </p>
          <% end %>

        </div>
      <% end %>
        
      
  <% end %>

  <%= f.hidden_field :event_id, value: @event.id %>

  <div class="field">
    <label class="checkbox">
      <%= f.check_box :show, value: false %>
      Minut saa näyttää kaikille näkyvällä ilmoittautuneiden listalla
    </label>
  </div>
  <div class="actions">
    <% if current_user and @event.user_signed_up(current_user.id) %>
      <%= f.hidden_field :id, value: @signup.id %>
      <%= f.submit :value => t('Save'), :class => "button is-link" %>
    <% else %>
      <%= f.submit :value => 'Ilmoittaudun', :class => "button is-link" %>
    <% end %>
  </div>
<% end %>