<%= form_for @signup, :url => {:controller => 'events', :action => @action} do |f| %>
  <% if @signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this signup from being saved:</h2>

      <ul>
      <% @signup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <h3 class="subtitle">Ilmoittaudu</h3>

  <% if current_user %>
      <div class="field">
      <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
  <% else %>
      <div class="field">
        <%= f.label :name, 'Nimi', :class => 'label' %>
        <div class="control">
          <%= f.text_field :name, :class => 'input', :required => false %>
        </div>
        <p class="help is-danger">
          Pakollinen kenttä
        </p>
      </div>
      <div class="field">
        <label class="label" for="signup_email">Sähköpostiosoite</label>
        <div class="control">
          <%= f.text_field :email, :class => 'input' %>
        </div>
      </div>
  <% end %>

  <%= f.fields_for :signup_parameters do |p| %>
    <%= p.hidden_field :event_parameter_id, value: p.object.event_parameter_id  %>
      <% if p.object.event_parameter %>
        <div class="field">

          <div class="control">
            <% if p.object.event_parameter.event_parameter_type.name == 'Teksti' %>
              <%= p.label :id, p.object.event_parameter.name, :class => 'label' %>
              <%= p.text_field :value, :class => 'input', :required => p.object.event_parameter.required %>
            <% end %>

            <% if p.object.event_parameter.event_parameter_type.name == 'Valintaruutu' %>
              <label class="checkbox">
              <%= p.check_box :value, :required => p.object.event_parameter.required %>
              <%= p.object.event_parameter.name %>
              </label>
            <% end %>

            <% if p.object.event_parameter.event_parameter_type.name == 'Valintanappi' %>
              <% if p.object.event_parameter.event_parameter_choices.size > 0 %>
                <%= p.label :id, p.object.event_parameter.name, :class => 'label' %>
                <% p.object.event_parameter.event_parameter_choices.each do |choice| %>
                  <label class="radio">
                    <%= p.radio_button :value, choice.value %>
                    <%= choice.value %>
                  </label>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <% if p.object.event_parameter.required %>
            <p class="help is-danger">
              Pakollinen kenttä
            </p>
          <% end %>

        </div>
      <% end %>
        
      
  <% end %>

  <div class="field">
    <%= f.hidden_field :event_id, value: @event.id %>
  </div>
  <div class="actions">
    <% if current_user and @event.user_signed_up(current_user.id) %>
      <%= f.submit :value => 'Muokkaa ilmoittautumista', :class => "is-link" %>
    <% else %>
      <%= f.submit :value => 'Ilmoittaudun', :class => "button is-link" %>
    <% end %>
  </div>
<% end %>