<div class="box">
  <%= stylesheet_link_tag 'events', media: 'all' %>
  <%= javascript_include_tag 'events_index' %>

  <div class="flexbox">
    <h1 class="title is-spaced">Kalenteri</h1>

    <div>
      <%= link_to ical_signup_starts_url(protocol: :webcal, format: :ics), :title => "Tilaa tästä tulevien tapahtumailmoittautumisten alkamisajat Outlookin, Googlen tai Applen kalenteriin. Uudet tapahtumat ja muutokset tapahtumiin päivittyvät automaattisesti kalenteriin. Jos linkin painaminen suoraan ei toimi, voit myös kopioida linkin ja lisätä tilauskalenterin sen avulla" do %>
        <i class="fa fa-pencil-square-o title ical-icon" aria-hidden="true"></i>
      <% end %>

      <%= link_to ical_url(protocol: :webcal, format: :ics), :title => "Tilaa tästä tulevat tapahtumat Outlookin, Googlen tai Applen kalenteriin. Uudet tapahtumat ja muutokset tapahtumiin päivittyvät automaattisesti kalenteriin. Jos linkin painaminen suoraan ei toimi, voit myös kopioida linkin ja lisätä tilauskalenterin sen avulla" do %>
        <i class="fa fa-calendar-o title ical-icon" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>

  <% if sub_admin %>
    <br>
    <%= link_to 'Lisää tapahtuma', new_event_path %>
    <br>
  <% end %>

  <%= link_to 'Menneet tapahtumat', past_events_path %>
  <br>
  <br>
  <% if @text %>
  <pre><%= @text.get_value.html_safe %></pre>
  <br>
  <% end %>

  <% @events.each do |event| %>

    <h2 class="subtitle"><%= link_to event.name, event_path(event.id) %></h2>
    <div class="eventInfo">
      <p><%= DateHelper.standard_time(event.starttime) %></p>
      <% if event.price and not event.price.empty? %>
        <p>Hinta: <%= event.price %> €</p>
      <% end %>
      <% if event.location and event.location.length > 0 %>
        <p>@ <%= event.location %></p>
      <% end %>
      <p>
        <% if event.signup_open %>
          <br>
          <% if event.signup_end %>
            <i>Ilmoittautuminen tapahtumaan on käynnissä ja päättyy <%= DateHelper.standard_time2(event.signup_end) %> </i>
          <% else %>
            <i>Ilmoittautuminen tapahtumaan on käynnissä </i>
          <% end %>
        <% elsif event.signup_required and event.signup_start and event.signup_start > Time.now %>
          <br>
          <i>Ilmoittautuminen tapahtumaan alkaa <%= DateHelper.standard_time2(event.signup_start) %> </i>
        <% end %>
      </p>

      <br>
      <div class="showDescriptionToggle">
        <a>Näytä kuvaus</a>
      </div>
      <div class="eventDescription">
        <br>
        <pre><%= event.get_descr.html_safe %></pre>
      </div>

    </div>

    <% if event != @events.last %>
      <hr>
    <% end %>

  <% end %>

</div>

