<div class="box">

  <h1 class="title is-spaced">Kalenteri</h1>

  <% @events.each do |event| %>

    <h2 class="subtitle"><%= link_to event.name, event %></h2>
    <p><%= DateHelper.standard_time(event.starttime) %></p>
    <% if event.location and event.location.length > 0 %>
      <p>@ <%= event.location %></p>
    <% end %>
    <p>
      <% if event.signup_open %>
        <br>
        <i>Ilmoittautuminen tapahtumaan on käynnissä ja päättyy <%= DateHelper.standard_time2(event.signup_end) %> </i>
      <% elsif event.signup_required %>
        <br>
        <i>Ilmoittautuminen tapahtumaan alkaa <%= DateHelper.standard_time2(event.signup_start) %> </i>
      <% end %>
    </p>

    <br>

    <pre><%= event.descr %></pre>

    <% if event != @events.last %>
      <hr>
    <% end %>

  <% end %>

  <% if sub_admin %>
    <br>
    <%= link_to 'Lisää tapahtuma', new_event_path %>
  <% end %>

</div>

