<div class="box">
  <%= stylesheet_link_tag 'events', media: 'all' %>
  <%= javascript_include_tag 'events_index' %>

  <h1 class="title is-spaced">Menneet tapahtumat</h1>

  <% if sub_admin %>
    <br>
    <%= link_to 'Lisää tapahtuma', new_event_path %>
    <br>
  <% end %>

  <%= link_to 'Tulevat tapahtumat', '/kalenteri' %>
  <br>
  <br>

  <% @events.each do |event| %>

    <h2 class="subtitle"><%= link_to event.name, event_path(event.id) %></h2>
    <p><%= DateUtils.standard_time(event.starttime, @locale) %></p>
    <% if event.location and event.location.length > 0 %>
      <p>@ <%= event.location %></p>
    <% end %>
    <p>
      <% if event.signup_open %>
        <br>
        <% if event.signup_end %>
          <i>Ilmoittautuminen tapahtumaan on käynnissä ja päättyy <%= DateUtils.standard_time2(event.signup_end) %> </i>
        <% else %>
          <i>Ilmoittautuminen tapahtumaan on käynnissä </i>
        <% end %>
      <% elsif event.signup_required and event.signup_start and event.signup_start > Time.now %>
        <br>
        <i>Ilmoittautuminen tapahtumaan alkaa <%= DateUtils.standard_time2(event.signup_start) %> </i>
      <% end %>
    </p>

    <br>

    <div class="showDescriptionToggle">
      <a>Näytä kuvaus</a>
    </div>
    <div class="eventDescription">
      <br>
      <pre><%= event.get_descr.html_safe %></pre>
    </div>

    <% if event != @events.last %>
      <hr>
    <% end %>

  <% end %>

</div>
