<div class="box">

  <h2 class="title"><%= @event.name %></h2>

  <% if sub_admin %>

    <%= link_to 'Muokkaa tapahtumaa', edit_event_path(@event) %>
    <br>
    <%= link_to 'Poista tapahtuma', @event, method: :delete, data: { confirm: 'Oletko varma?' } %>
    <br>
    <br>

  <% end %>

  <p>
  <strong>Päivä:</strong>
  <%= DateHelper.weekday(@event.starttime) %> <%= DateHelper.standard_date(@event.starttime) %>
  </p>

  <p>
  <strong>Aika:</strong>
  <%= DateHelper.time(@event.starttime)%>
  </p>

  <% if not (@event.location.nil? || @event.location.empty?) %>

    <p>
    <strong>Paikka:</strong>
    <%= @event.location %>
    </p>

  <% end %>

  <% if not (@event.event_type.nil? || @event.event_type.empty?) %>

    <p>
    <strong>Tyyppi:</strong>
    <%= @event.event_type %>
    </p>

  <% end %>

  <% if not (@event.price.nil? || @event.price.empty?) %>

    <p>
    <strong>Hinta:</strong>
    <%= @event.price %> €
    </p>

  <% end %>
  <br>

  <pre><%= @event.descr.html_safe %></pre>

  <br>

  <% if @event.signup_required %>

    <% if @event.signup_start and @event.signup_end %>
      <p>
      <strong>Ilmoittautumisaika:</strong>
      <%= DateHelper.full_date(@event.signup_start) %> - <%= DateHelper.full_date(@event.signup_end) %>
      </p>
    <% end %>

    <% if @event.signup_cancellable and @event.signup_end and @event.signup_cancellable_until < @event.signup_end %>
      <p>
      <strong>Ilmoittautuminen sitova alkaen:</strong>
      <%= DateHelper.full_date(@event.signup_cancellable_until) %>
      </p>
    <% end %>

    <p>
      <strong>Ilmoittautuneita:</strong>
      <%= @event.signups.count %>
      <% if @event.signup_limit %>
        / <%= @event.signup_limit %>
      <% end %>
    </p>

    <% if !@event.empty %>
      <p><%= link_to 'Näytä ilmoittautuneet', event_signups_path(@event.id) %></p>
      <br>
    <% end %>

    <% if !@event.members_only and !current_user %>
      <b>Ulkopuoliset voivat ilmoittautua tapahtumaan</b>
    <% end %>

    <% if !current_user and !@event.members_only and @event.signup_open %>
      <%= render 'signup_form' %>
    <% end %>

    <% if current_user and !@event.user_signed_up(current_user.id) and @event.signup_open %>
        <%= render 'signup_form' %>
    <% end %>

    <% if current_user and @event.user_signed_up(current_user.id) and @event.signup_cancellable %>
      <% if @event_parameters.size > 0 %>
        <%= render 'signup_form' %>
      <% end %>
      <br>
      <%= button_to 'Peru ilmoittautuminen', @signup, method: :delete, data: { confirm: 'Haluatko varmasti perua ilmoittautumisesi?' }, class: 'button is-danger' %>
    <% end %>

  <% end %>

</div>