<div ng-controller="EventsController">

  <div id="Event" class="container-fluid">

    <div class="col-lg-9">

        <p></p>

        <div class="Event EventFields">

            <h2><%= @event.name %></h2>

            <p>
            <strong>Päivä:</strong>
            <%= DateHelper.weekday(@event.starttime) %> <%= DateHelper.standard_date(@event.starttime) %>
            </p>

            <p>
            <strong>Aika:</strong>
            <%= DateHelper.time(@event.starttime)%>
            </p>

            <p>
            <strong>Paikka:</strong>
            <%= @event.location %>
            </p>

            <p>
            <strong>Tyyppi:</strong>
            <%= @event.event_type %>
            </p>

            <p>
            <%= @event.descr %>
            </p>

            <% if @event.signup_required %>

            <p>
            <strong>Ilmoittautumisaika:</strong>
            <%= DateHelper.full_date(@event.signup_start) %> - <%= DateHelper.full_date(@event.signup_end) %>
            </p>

            <p>
            <strong>Ilmoittautuminen sitova alkaen:</strong>
            <%= DateHelper.full_date(@event.signup_cancellable_until) %>
            </p>

              <p>
                <strong>Ilmoittautuneita:</strong>
                <%= @event.signups.count %>
                <% if @event.signup_limit %>
                  / <%= @event.signup_limit %>
                <% end %>
              </p>

              <% if @event.full %>
                  <p>Tapahtuma on täynnä!</p>
              <% end %>

              <% if !@event.empty %>

                <p><%= link_to 'Näytä ilmoittautuneet', event_signups_path(@event.id) %></p>

              <% end %>

              <% if @event.empty and @event.signup_open %>

                <p>Tapahtumaan ei ole vielä ilmoittautunut ketään</p>

              <% end %>

              <% if !@event.members_only %>
                <b>Ulkopuoliset voivat ilmoittautua tapahtumaan</b>
              <% end %>

              <% if !current_user and !@event.members_only and !@event.full and @event.signup_open %>
                <%= render 'signups/form' %>
              <% end %>

              <% if current_user and !@event.user_signed_up(current_user.id) and !@event.full and @event.signup_open %>
                  <%= render 'signups/form' %>
              <% end %>

              <% if current_user and @event.user_signed_up(current_user.id) and @event.signup_cancellable %>
                  <%= button_to 'Peru ilmoittautuminen', @signup, method: :delete, data: { confirm: 'Haluatko varmasti perua ilmoittautumisesi?' } %>
              <% end %>

            <% end %>

            <% if current_user %>
              <%= link_to 'Lisää lisätietokenttä', @event.id.to_s + '/new_parameter' %>
            <% end %>
        </div>

    </div>

    <%= render 'sidebar_events' %>

  </div>

</div>

<% if admin %>

    <%= link_to 'Muokkaa tapahtumaa', edit_event_path(@event) %> |

<% end %>

<%= link_to 'Takaisin', events_path %>
