<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @event.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @event.endtime %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Signup required:</strong>
  <%= @event.signup_required %>
</p>

<p>
  <strong>Signup start:</strong>
  <%= @event.signup_start %>
</p>

<p>
  <strong>Signup end:</strong>
  <%= @event.signup_end %>
</p>

<p>
  <strong>Signup cancellable until:</strong>
  <%= @event.signup_cancellable_until %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
