<div class="box">

  <h2 class="title"><%= @event.get_name %></h2>

  <% if sub_admin %>

    <%= link_to 'Muokkaa tapahtumaa', edit_event_path(@event) %>
    <br>
    <%= link_to 'Poista tapahtuma', @event, method: :delete, data: { confirm: "#{t('are_you_sure')}?" } %>
    <br>
    <br>

  <% end %>

  <p>
  <strong><%= t('Date') %>:</strong>
  <%= DateUtils.standard_date_with_weekday(@event.starttime, @locale) %>
  </p>

  <p>
  <strong><%= t('Time') %>:</strong>
  <%= DateUtils.time(@event.starttime)%>
  </p>

  <% if not (@event.location.nil? || @event.location.empty?) %>

    <p>
    <strong><%= t('Location') %>:</strong>
    <%= @event.location %>
    </p>

  <% end %>

  <% if not (@event.event_type.nil? || @event.event_type.empty?) %>

    <p>
    <strong><%= t('Type') %>:</strong>
    <%= @event.event_type %>
    </p>

  <% end %>

  <% if not (@event.price.nil? || @event.price.empty?) %>

    <p>
    <strong><%= t('Price') %>:</strong>
    <%= @event.price %> €
    </p>

  <% end %>

  <% if not @event.contact_person.nil? %>

    <p>
    <strong><%= t('contact_person_id') %>:</strong>
    <%= @event.get_contact_person %>
    </p>

  <% end %>
  <br>

  <pre><%= auto_link(@event.get_descr.html_safe) %></pre>

  <br>

  <% if @event.signup_required %>

    <% if @event.signup_start and @event.signup_end %>
      <p>
      <strong><%= t('Signup period') %>:</strong>
      <%= DateUtils.full_date(@event.signup_start) %> - <%= DateUtils.full_date(@event.signup_end) %>
      </p>
    <% end %>

    <% if @event.signup_cancellable_until and @event.signup_end and @event.signup_cancellable_until < @event.signup_end %>
      <p>
      <strong><%= t('signup_binding_from') %>:</strong>
      <%= DateUtils.full_date(@event.signup_cancellable_until) %>
      </p>
    <% end %>

    <p>
      <strong><%= t('Signed up') %>:</strong>
      <%= @event.signups.count %>
      <% if @event.signup_limit %>
        / <%= @event.signup_limit %>
      <% end %>
    </p>

    <% if !@event.empty %>
      <p><%= link_to t('Show signed up'), event_signups_path(@event.id) %></p>
      <br>
    <% end %>

    <% if !@event.members_only and !current_user and @event.signup_open %>
      <b><%= t('nonmembers_can_signup') %></b>
    <% end %>

    <% if !current_user and !@event.members_only and @event.signup_open %>
      <%= render 'signup_form' %>
    <% end %>

    <% if current_user and !@event.user_signed_up(current_user.id) and @event.signup_open %>
        <%= render 'signup_form' %>
    <% end %>

    <% if current_user and @event.user_signed_up(current_user.id) and @event.signup_cancellable %>
      <% if @event_parameters.size > 0 %>
        <%= render 'signup_form' %>
      <% end %>
      <br>
      <%= button_to t('cancel_signup'), @signup, method: :delete, data: { confirm: t('cancel_signup') }, class: 'button is-danger' %>
    <% end %>

  <% end %>

</div>