<%= form_for(@news) do |f| %>

  <div class="field">
    <%= f.label :header, 'Otsikko', :class => 'label' %>
    <div class='control'>
      <%= f.text_field :header, :class => 'input', :required => true %>
    </div>
  </div>

  <div class="field">
    <%= f.label :text, 'Teksti', :class => 'label' %>
    <div class='control'>
      <%= f.text_area :text, :class => 'input textarea', :required => true %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Tallenna", :class => 'button is-link' %>
  </div>
<% end %>
