<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :header, 'Otsikko' %><br>
    <%= f.text_field :header %>
  </div>

  <div class="field">
    <%= f.label :text, 'Teksti' %><br>
    <%= f.text_area :text %>
  </div>

  <div class="field">
    <%= f.label :priority, 'Prioriteetti' %><br>
    <%= f.number_field :priority %>
  </div>

  <div class="actions">
    <%= f.submit "Tallenna" %>
  </div>
<% end %>
