<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :header, 'Otsikko', :class => 'label' %>
    <div class='control'>
      <%= f.text_field :header, :class => 'input', :required => true %>
    </div>
  </div>

  <div class="field">
    <%= f.label :text, 'Teksti', :class => 'label' %>
    <div class='control'>
      <%= f.text_area :text, :class => 'input textarea', :required => true %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Tallenna", :class => 'button is-link' %>
  </div>
<% end %>
