<h1>Uutiset</h1>
<div class='list'>
	<% @news.each do |news| %>
	  <b class='list-header'><%= news.header %></b>
	  <br>
	  <pre class='list-text'><%= news.text %></pre>
	  <p class='list-text'>Prioriteetti: <%= news.priority %></p>
	  <%= link_to 'Muokkaa', edit_news_path(news) %> | <%= link_to 'Poista', news, method: :delete, data: { confirm: 'Are you sure?' } %>
	  <br>
	  <br>
	<% end %>
</div>

<br>

<%= link_to 'Lisää uutinen', new_news_path %>
