<h1>Uutiset</h1>
<% @news.each do |news| %>
  <b><%= news.header %></b> <%= link_to 'Muokkaa', edit_news_path(news) %> | <%= link_to 'Poista', news, method: :delete, data: { confirm: 'Are you sure?' } %><br>
  <p>Luotu: <%= news.created_at %><br>
  <pre><%= news.text %></pre><br>
  <p>Prioriteetti: <%= news.priority %></p><br>
  
  <br>
<% end %>

<br>

<%= link_to 'Lisää uutinen', new_news_path %>
