<div class="box">

	<h1 class="title">Uutiset</h1>

	<%= link_to 'Lisää uutinen', new_news_path %>

	<br>
	<br>

	<div class='list'>
		<% @news.each do |news| %>
		  <b class="subtitle"><%= news.header %></b>
		  | <%= link_to 'Muokkaa', edit_news_path(news) %> | <%= link_to 'Poista', news, method: :delete, data: { confirm: 'Are you sure?' } %>
		  <br>
		  <br>
		  <pre class='list-text'><%= news.text %></pre>
		  <br>
		  <br>
		<% end %>
	</div>

</div>
