<%= form_for(@setting) do |f| %>

  <div class="field">
    <%= f.label :setting %><br>
    <%= f.text_field :setting %>
  </div>
  <div class="field">
    <%= f.label :descr %><br>
    <%= f.text_field :descr %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_area :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
