<h1>Asetukset</h1>

<table>
  <thead>
    <tr>
      <th>Asetus</th>
      <th>Kuvaus</th>
      <th>Arvo</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.setting %></td>
        <td><%= setting.descr %></td>
        <td><%= setting.value %></td>
        <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Uusi', new_setting_path %>

<br>
