<%= form_for(@stringresource) do |f| %>
  <% if @stringresource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stringresource.errors.count, "error") %> prohibited this stringresource from being saved:</h2>

      <ul>
      <% @stringresource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_area :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
