<p id="notice"><%= notice %></p>

<h1>Listing Stringresources</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stringresources.each do |stringresource| %>
      <tr>
        <td><%= stringresource.key %></td>
        <td><%= stringresource.value %></td>
        <td><%= link_to 'Show', stringresource %></td>
        <td><%= link_to 'Edit', edit_stringresource_path(stringresource) %></td>
        <td><%= link_to 'Destroy', stringresource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stringresource', new_stringresource_path %>
