<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @stringresource.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @stringresource.value %>
</p>

<%= link_to 'Edit', edit_stringresource_path(@stringresource) %> |
<%= link_to 'Back', stringresources_path %>
