<%= form_for(@event_parameter_value) do |f| %>
  <% if @event_parameter_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_parameter_value.errors.count, "error") %> prohibited this event_parameter_value from being saved:</h2>

      <ul>
      <% @event_parameter_value.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_parameter_id %><br>
    <%= f.number_field :event_parameter_id %>
  </div>
  <div class="field">
    <%= f.label :signup_id %><br>
    <%= f.number_field :signup_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_area :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
