<p id="notice"><%= notice %></p>

<h1>Listing Event Parameter Values</h1>

<table>
  <thead>
    <tr>
      <th>Event parameter</th>
      <th>Signup</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_parameter_values.each do |event_parameter_value| %>
      <tr>
        <td><%= event_parameter_value.event_parameter_id %></td>
        <td><%= event_parameter_value.signup_id %></td>
        <td><%= event_parameter_value.value %></td>
        <td><%= link_to 'Show', event_parameter_value %></td>
        <td><%= link_to 'Edit', edit_event_parameter_value_path(event_parameter_value) %></td>
        <td><%= link_to 'Destroy', event_parameter_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event parameter value', new_event_parameter_value_path %>
