<p id="notice"><%= notice %></p>

<p>
  <strong>Event parameter:</strong>
  <%= @event_parameter_value.event_parameter_id %>
</p>

<p>
  <strong>Signup:</strong>
  <%= @event_parameter_value.signup_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @event_parameter_value.value %>
</p>

<%= link_to 'Edit', edit_event_parameter_value_path(@event_parameter_value) %> |
<%= link_to 'Back', event_parameter_values_path %>
