<div class="box">
	<h1 class="title"> Admin-toiminnot </h1>

	<br>

	<% if admin %>
	  <%= link_to 'Kaikki jäsenet', members_path %><br>
	  <%= link_to 'Muokkaa voimassaolevia jäsenyyksiä', memberships_path %><br>
	<% end %>
	<% if sub_admin %>
	  <%= link_to 'Uutiset', news_index_path %><br>
	  <%= link_to 'Yhteistyökumppanit', partners_path %><br>
	  <%= link_to 'Myynnissä olevat tuotteet', products_path %><br>
	  <%= link_to 'Tekstit', texts_path %><br>
	  <%= link_to 'Kuvat', images_path %><br>
	<% end %>
</div>