<div class="box">
  <h1 class="title">Fuksiopas</h1>

  <p>Olet aloittamassa elämänvaiheen, jota jälkikäteen monet muistelevat elämänsä hauskimpana aikana. Itsenäistyminen, opiskelun, ja ihan oman elämän aloittaminen on uskomaton seikkailu, jopa vähän pelottavakin, onhan se ehkä suurimpia muutoksia siihenastisessa elämässä. Miten tutustua uusiin ihmisiin? Löytääkö oman tavan opiskella, ja miten sopeutua yliopistoelämän kiemuroihin? Opiskelu ei ole vain luennoilla istumista, se on kokonainen elämäntyyli, josta voit tehdä itse sellaisen kuin haluat.</p>

  <p>Yliopisto-opiskelun aloittaminen tulee varmasti olemaan suuri muutos lukioon nähden. Tulee aikoja, jolloin ainoat opintojesi etenemisestä välittävät ihmiset tuntuvat olevan Kelan ja HOAS:n (Helsingin seudun opiskelija-asuntosäätiö) henkilökunta, jotka vaativat lisää ja taas lisää opintopisteitä. Enää ei ole opettajaa, joka tukistaa, kun läksyt ovat tekemättä. Kieltämättä, vapaavalintainen ja oma-aloitteinen toiminta lisäävätkin opiskelusi onnistumisen mahdollisuuksia.</p>

  <p>Asiat eivät kuitenkaan ole aivan näin huonosti. Matematiikan ja tilastotieteen laitoksella aloittaa vuosittain noin 150 opiskelijaa, ja heidän alun aikojen viihtyvyydestään asetetaan vastaamaan noin 25 tuutorin katras. Tuutoreiden tehtävä on helpottaa uuden opiskelijan yliopistoelämän alkua auttamalla esimerkiksi lukujärjestyksen tekemisessä ja muiden käytännön järjestelyjen hoitamisessa. Lisäksi opiskelijoille, erityisesti uusille, järjestetään runsaasti vapaa-ajanviettomahdollisuuksia excursioiden ja yhteisten tapahtumien muodossa. Tällä pyritään pehmentämään mahdollisesti uuteen kaupunkiin muuttaneiden &quotoman elämän&quot alkua, unohtamatta tietenkään Helsingissä jo pidempään asuneita fukseja. Yliopistolla elämä sujuu huomattavasti helpommin kun tuntee kanssaopiskelijoita.</p>

  <p>Tuutoreiden lisäksi tukea tarjoaa Matrix, matematiikan opiskelijoiden ainejärjestö. Teemme yhdessä kaikkea opiskeluun ja opiskelijaelämään liittyvää, laskuharjoituksista bilettämiseen ja luistelusta jalkapalloon. Tulemalla mukaan saat varmasti uusia kokemuksia ja ystäviä, melkeinpä perheen. Olkoonpa intohimosi matematiikka tai ihan joku muu, yhdessä sen tekeminen on hauskempaa.</p>
  <br>
  <h2 id="Fuksiopas-Tietoafukseille" class="subtitle">Tietoa fukseille</h2>

  <p>Opintojen alkuvaiheessa on ihan normaalia olla pihalla yliopistomaailman käytännöistä. Ennen syyslukukauden alkua uusille opiskelijoille järjestetään orientoivat opinnot, joissa kerrotaan perustietoa yliopistossa opiskelussa. Samalla fuksit saavat itselleen tuutorit, jotka opastavat alkuun opintojen kanssa. Ei siis kannata panikoida, vaikkei kaikki olisikaan aluksi ihan selvää.</p>

  <p>Alle on koottu kaikkea fuksille hyödyllistä tietoa, joka myös auttaa ahdistukseen.</p>
  <br>
  <ul>
    <li><%= link_to 'Tuutorointi', '/tuutorit' %> ja tuutorit esittelyssä.</li>
    <li><%= link_to 'Sanasto', '/sanasto' %>, joka sisältää tärkeimmät yliopistomaailmassa ja etenkin matematiikan opiskelussa vastaan tulevat termit.</li>
    <li><%= link_to 'Kurssikuvaukset', '/kurssikuvauksia'%> matematiikan perus- ja aineopintojen kursseista.</li>
    <li><%= link_to 'Kalenterista', '/kalenteri'%> ja <%= link_to 'etusivulta', root_path %> löydät tietoa tulevista tapahtumista.</li>
    <li><%= link_to 'Fuksille', '/fuksille' %>-sivulle</a> on koottu syksyn fuksiriennot. Lisäksi löydät sieltä puheenjohtajan tervehdyksen uusille fukseille.</li>
  </ul>
  <br>
  <p>Saat ajankohtaisinta tietoa tapahtumista Matrixin sähköpostilistalta, joka toimii pääasiallisena tiedotuskanavana. Liittymisohjeet löydät <%= link_to 'täältä', '/sahkopostilistat'%>. Kannattaa myös liittyä matematiikan ja tilastotieteen laitoksen <a href="http://wiki.helsinki.fi/display/mathstatOpiskelu/Opiskelijoiden+tiedotuslista" class="external-link" rel="nofollow">tiedotuslistalle</a>, jolle tulee ajankohtaista tietoa matematiikan opiskelijoita koskevista asioista.</p>

  <p>Lisäksi tietojenkäsittelytieteen opiskelijoiden ainejärjestön TKO-älyn loistavassa <a href="http://fuksiwiki.tko-aly.fi/Fuksiwiki" class="external-link" rel="nofollow">fuksiwikissä</a> on runsaasti myös matematiikan opintoihin päteviä neuvoja.</p>
  <br>
  <h2 id="Fuksiopas-Uusienopiskelijoidenuseinkysymiäkysymyksiä" class="subtitle">Uusien opiskelijoiden usein kysymiä kysymyksiä</h2>

  <ul>
    <li><a href="#Fuksiopas-Mitenvoiilmoittautuamatematiikankursseillejalaskuharjoituksiin?">Miten voi ilmoittautua matematiikan kursseille ja laskuharjoituksiin?</a></li>
    <li><a href="#Fuksiopas-Entäjoslaskuharjoitusryhmäonjotäynnä?">Entä jos laskuharjoitusryhmä on jo täynnä?</a></li><li><a href="#Fuksiopas-Mikäohjausryhmäon?">Mikä ohjausryhmä on?</a></li>
    <li><a href="#Fuksiopas-Mikäonohjaajatuutoriryhmä?">Mikä on ohjaajatuutoriryhmä?</a></li>
    <li><a href="#Fuksiopas-Mikäpajaon?">Mikä paja on?</a></li>
    <li><a href="#Fuksiopas-Mistäsaanlaskuharjoitukset?">Mistä saan laskuharjoitukset?</a></li>
    <li><a href="#Fuksiopas-Mitenlaskareissatoimitaan?">Miten laskareissa toimitaan?</a></li>
    <li><a href="#Fuksiopas-Mitäjosenpääseomaanryhmäänijokakerta?">Mitä jos en pääse omaan ryhmääni joka kerta?</a></li>
    <li><a href="#Fuksiopas-Kuinkakurssitsuoritetaan?">Kuinka kurssit suoritetaan?</a></li>
    <li><a href="#Fuksiopas-Mitentoimiakokeissa?">Miten toimia kokeissa?</a></li>
    <li><a href="#Fuksiopas-Kuinkakokeet/kurssitarvostellaan?">Kuinka kokeet/kurssit arvostellaan?</a></li>
    <li><a href="#Fuksiopas-Mikälaskupajaon?">Mikä laskupaja on?</a></li>
    <li><a href="#Fuksiopas-Mistäsaankurssikirjat?">Mistä saan kurssikirjat?</a></li>
    <li><a href="#Fuksiopas-Mitäsivuaineitapitäisiottaa?">Mitä sivuaineita pitäisi ottaa?</a></li>
    <li><a href="#Fuksiopas-Saankojostainopintoneuvontaa?">Saanko jostain opintoneuvontaa?</a></li>
    <li><a href="#Fuksiopas-Missäonmatematiikanlaitos?">Missä on matematiikan laitos?</a></li>
    <li><a href="#Fuksiopas-Missäpidetäänmatematiikankurssienluennotjalaskuharjoitukset?">Missä pidetään matematiikan kurssien luennot ja laskuharjoitukset?</a></li>
    <li><a href="#Fuksiopas-A">Missä ovat fysiikan, kemian ja TKT:n laitokset sekä tiedekunnan kanslia?</a></li>
    <% if @fuksijatuutorivastaavat and @fuksijatuutorivastaavat.size > 0 %>
      <li><a href="#Fuksiopas-Ketkäovatfuksi-jatuutorivastaavamme?">Ketkä ovat fuksi- ja tuutorivastaavamme?</a></li>
    <% end %>
    <li><a href="#Fuksiopas-MissäpaikkaXoikeinsijaitsee?">Missä paikka X oikein sijaitsee?</a></li>
  </ul>
  <br>
  <p>

  <span id="Fuksiopas-Mitenvoiilmoittautuamatematiikankursseillejalaskuharjoituksiin?"> </span>

  <strong>Miten voi ilmoittautua matematiikan kursseille ja laskuharjoituksiin?</strong><br>

  <br/>

  Ilmoittautumalla kurssin laskuharjoitus-, ohjaus- tai pajaryhmään ilmoittaudut samalla ko. kurssille. Ilmoittautuminen tapahtuu <a href="https://weboodi.helsinki.fi" class="external-link" rel="nofollow">WebOodissa</a> yliopiston pääkäyttöluvalla, ja on yleensä auki noin kaksi viikkoa periodin alussa. Linkin kurssi-ilmoittautumiseen löydät yleensä kurssin kotisivulta tai etsimällä kurssin itse WebOodista. Kursseille <strong>EI</strong> tarvitse ilmoittautua ennen niiden alkua, vaan sen voi tehdä myös ensimmäisten luentojen jälkeen. Jos kuitenkin unohdat ilmoittautua kurssille ilmoittautumisajan puitteissa, <a href="http://wiki.helsinki.fi/display/mathstatOpiskelu/Kysymys4" class="external-link" rel="nofollow">voit silti vielä päästä kurssille</a>.</p>
  <br>
  <p><span id="Fuksiopas-Entäjoslaskuharjoitusryhmäonjotäynnä?"> </span>

  <strong>Entä jos laskuharjoitusryhmä on jo täynnä?</strong><br>

  <br/> 

  Jos muut ryhmät ovat täynnä tai niiden ajat eivät sovi sinulle, voit ilmoittautua laskuharjoitusryhmään 99, jolloin käyt viikoittain sinulle sopivassa ryhmässä. Laskuharjoitukset ovat harvoin oikeasti täynnä, vaikka niihin ei mahtuisikaan ilmoittautuessa, joten voit käydä yleensä huoletta muissa ryhmissä.</p>
  <br>
  <p><span id="Fuksiopas-Mikäohjausryhmäon?"> </span>

  <strong>Mikä ohjausryhmä on?</strong><br>

  <br/> 
  Kursseilla Analyysi I ja Analyysi II on laskuharjoitusryhmien sijaan ohjausryhmät. Niiden tarkoitus on antaa pehmeä lasku yliopistomatematiikkaan. Ohjausryhmissä osa laskuharjoitustehtävistä annetaan etukäteen ja tehdään ennen ohjausryhmän kaksituntista kokoontumista. Osa tehtävistä annetaan vasta kokoontumisen alussa ja ratkaistaan pienryhmissä kokoontumisen aikana. Myös etukäteen annetut tehtävät käydään läpi. Ohjausryhmät kokoontuvat kaksi kertaa viikossa. Lisäksi sama ryhmä kokoontuu kerran viikossa ohjaajatuutorointiin saman ohjaajan johdolla.</p>
  <br>
  <p><span id="Fuksiopas-Mikäonohjaajatuutoriryhmä?"> </span>

  <strong>Mikä on ohjaajatuutoriryhmä?</strong><br>

  <br/> 
  Ensimmäisen opintovuoden helpottamiseksi ja tasaisen opintoihin laskeutumisen vuoksi laitoksellamme on käytössä ohjaajatuutorointijärjestelmä. Ohjaajatuutoriryhmät ovat samoja ryhmiä analyysin kurssien ohjausryhmien kanssa ja ilmoittautuminen niihin tapahtuu analyysin kursseihin ilmoittautumisen yhteydessä.</p>

  <p>Ryhmiä vetää kaksi ohjaajatuutoria, jotka ovat vanhempia opiskelijoita. Heillä on vankka kokemus pienryhmän ohjaamisesta sekä tuoreessa muistissa omien opintojensa alkutaival. Ryhmät kokoontuvat viikoittain.</p>

  <p>Ohjaajatuutoriryhmä on luonteva paikka tutustua muihin uusiin opiskelijoihin opintoja tukevan toiminnan kautta. Ryhmän tapaamisissa jutellaan opiskelusta ja mahdollisesti mieltä askarruttavia asioita pohditaan yhdessä. Tarpeen vaatiessa käydään läpi kursseilla esiin nousseita kysymyksiä. Ryhmän jäsenten mielipiteet ohjaavat ryhmän toiminnan suunnittelua. Tärkeän osan toimintaa muodostavat viikkoteemat, joiden aiheet liikkuvat yleishyödyllisestä englanninkielisestä matematiikan ja tilastotieteen erikoissanastosta erilaisiin opiskelutekniikoihin ja alustavasta opintosuunnitelmasta arkea keventäviin pulmatehtäviin. Ryhmät kokoontuvat välillä myös laitoksen ulkopuolella, esimerkiksi elokuvissa käynnin merkeissä. Lisäksi ohjaajatuutoriryhmä on yksi tärkeimmistä tiedotus- ja palautekanavista opettajien ja opiskelijoiden välillä.</p>
  <br>
  <p><span id="Fuksiopas-Mikäpajaon?"> </span>

  <strong>Mikä paja on?</strong><br>

  <br/> 

  Jotkin ensimmäisen vuoden kurssit toteutetaan pajamuotoisena, jolloin muita kursseja harvalukuisempien luentojen tukena on ympäri viikon jossakin luokassa säännöllisesti auki oleva paja, johon voi mennä yhdessä tai yksin tekemään kurssin laskuharjoitustehtäviä. Paikalla on ohjaajia avustamassa kurssien tehtävien tekemisessä. Pajamuotoisissa kursseissa tehtäviä on muita kursseja enemmän, mutta ne ovat pienempiä. Tehtävät myös palautetaan kirjallisena ja osa niistä tarkastatetaan.</p>
  <br>
  <p><span id="Fuksiopas-Mistäsaanlaskuharjoitukset?"> </span>

  <strong>Mistä saan laskuharjoitukset?</strong><br>

  <br/> 

  Laskuharjoitukset ilmestyvät yleensä viimeistään edeltävällä viikolla nettiin kurssin kotisivulle, jonka löydät <a href="http://wiki.helsinki.fi/display/mathstatOpiskelu/Etusivu" class="external-link" rel="nofollow">täältä</a>. Laskuharjoituksia saa myös usein luennoilta tai pajasta.</p>
  <br>
  <p><span id="Fuksiopas-Mitenlaskareissatoimitaan?"> </span>

  <strong>Miten laskareissa toimitaan?</strong><br>

  <br/> 

  Laskarit kestävät noin tunnista kahteen tuntia. Aluksi laskareiden pitäjä laittaa kiertämään listan, johon sinun tulee merkitä nimesi. Lisäksi rastit listasta ne tehtävät, jotka olet tehnyt tai (enemmän tai vähemmän) rehellisesti yrittänyt tehdä. Monet laskarinpitäjistä ovat itsekin opiskelijoita, joten et tule syödyksi, vaikkei ratkaisusi täysin oikein olisikaan. Tämän jälkeen useimmat laskuharjoitusten pitäjät pyytävät jotakuta taululle esittämään ratkaisunsa, ellei kukaan vapaaehtoisesti halua taululle. Käytännössä ainoa keino varmistua ratkaisun oikeellisuudesta on mennä tekemään se taululle, jolloin se käydään yhdessä läpi. Pidä mielessä, että vääristä ratkaisuista oppii enemmän korjauttamalla ne kuin elämällä siinä uskossa, että ne ovat oikein.</p>
  <br>
  <p><span id="Fuksiopas-Mitäjosenpääseomaanryhmäänijokakerta?"> </span>

  <strong>Mitä jos en pääse omaan ryhmääni joka kerta?</strong><br>

  <br/> 

  Jos et syystä tai toisesta pääse omaan laskuharjoitusryhmääsi, voit myös vierailla missä vain muussa ryhmässä. Tällöin kirjoitat vain laskareiden alussa jaettavaan listaan nimesi perään, että olet vierailija.</p>
  <br>
  <p><span id="Fuksiopas-Kuinkakurssitsuoritetaan?"> </span>

  <strong>Kuinka kurssit suoritetaan?</strong><br>

  <br/> Yleisin tapa suorittaa kurssi on käydä kurssikokeissa. Niitä järjestetään kurssista riippuen yksi tai kaksi kappaletta. Kurssikokeissa on yleensä neljä tehtävää, joiden tekemiseen on aikaa kaksi tuntia. Jokaisesta tehtävästä saa yleensä kuusi pistettä. Enemmän pisteitä on tavallisesti mahdollista saada tekemällä laskuharjoituksia, jolloin lopullinen arvosana muodostuu kurssikokeiden ja laskuharjoitusten yhteispistemäärästä. Vaihtoehtoinen tapa on ilmoittautua WebOodissa suorittamaan kurssi laitoksen yleistentissä. Tällöin tehtäviä on viisi kappaletta ja ne ovat yleensä kurssikokeen tehtäviä vaikeampia. Aikaa on tosin tällöin neljä tuntia. Yleistenteistä löydät tarkempaa tietoa <a href="http://wiki.helsinki.fi/display/mathstatOpiskelu/Yleistentit" class="external-link" rel="nofollow">täältä</a>.</p>
  <br>
  <p><span id="Fuksiopas-Mitentoimiakokeissa?"> </span>

  <strong>Miten toimia kokeissa?</strong><br>

  <br/> Kokeissa saa pitää mukana laskinta ja taulukkokirjaa, ellei niitä erikseen kielletä. Koepaperit ovat koetilaisuudessa valmiina, joten niistä ei sinun tarvitse huolehtia. Seuraa ensimmäisissä kokeissa tarkkaan kokeenvalvojien ohjeita. Kurssikokeita saattaa olla useampi yhtä aikaa, joten koesali saattaa olla tupaten täynnä. Kokeeseen onkin hyvä saapua ajoissa, jottei sen aloittaminen veny ja jotta saat itsellesi istumapaikan salista ilman erikoisempaa säätämistä. Kokeet pidetään yleensä Exactumin saleissa A111 ja B123. Salien ovista löytyy laput, jotka ohjeistavat kumpaan sinun tulee mennä.</p>
  <br>
  <p><span id="Fuksiopas-Kuinkakokeet/kurssitarvostellaan?"> </span>

  <strong>Kuinka kokeet/kurssit arvostellaan?</strong><br>

  <br/> Kokeiden pisteet tulevat 3. kerroksen ilmoitustaululle Komeron eteen viikon tai parin kuluttua kokeesta. Kokeita ei saa takaisin, mutta omansa saa nähdä ja käydä läpi ottamalla yhteyttä kurssin pitäjään tai kokeiden korjaajaan (ilmoitetaan myös 3. kerroksen ilmoitustaululla). Kurssin arvosana ilmestyy myös 3. kerroksen ilmoitustauluille parin kolmen viikon kuluessa viimeisestä välikokeesta tai lopputentistä, kuitenkin viimeistään kuukauden kuluessa. Huonosti menneiden kurssien luennoitsijoilta voi myös pyytää lisätehtäviä arvosanan mahdollista korottamista varten ainakin välikokeilla suoritetun kurssin tapauksessa. Muista, että laskuharjoitusten tekemisestä saa lisäpisteitä monella kurssilla, jotka sitten lisätään välikoepistemäärään kurssin lopuksi. Laskuharjoituksista saatavien pisteiden painoarvo on harvoin yhtä koetehtävää suurempi ja tarkemmat tiedot niistä löydät kurssien kotisivuilta.</p>
  <br>
  <p><span id="Fuksiopas-Mikälaskupajaon?"> </span>

  <strong>Mikä laskupaja on?</strong><br>

  <br/> Laskupaja aloitti toimintansa keväällä 2002 matematiikan laitoksella. Exactumissa se sijaitsee 3. kerroksessa huoneessa C321 (eli Komeron vieressä). Laskupaja on paikka, jossa voi laskea laskareita, kertailla kavereiden kanssa tenttiin tai vain istuskella miettimässä matematiikkaa. Paikalla on ainakin suurimman osan ajasta assistentti, jolta voi kysyä neuvoa vaikeimpiin tehtäviin. Laskupaja on oivallinen paikka laskea tehtäviä porukalla. Laskupajan erottaa tavallisesta pajasta se, että siellä voi käydä kysymässä neuvoa kaikkien kurssien tehtäviin.</p>
  <br>
  <p><span id="Fuksiopas-Mistäsaankurssikirjat?"> </span>

  <strong>Mistä saan kurssikirjat?</strong><br>

  <br/> Valtosalle kursseista ei ole lainkaan kirjaa, vaan materiaalina käytetään luentomonistetta, jonka voi itse tulostaa kurssin kotisivulta. Huoneessa C127 on hylly, josta löytyy useimpien kurssien kansiot. Kannattaa kuitenkin aina ensin tarkistaa mitä kirjaa tai monistetta luennolla käytetään ja selvittää lainausmahdollisuus vanhoilta opiskelijoilta. Osa kurssikirjoista saattaa löytyä myös kirjastosta. Yliopistokirjakaupassa on kattava valikoima oppikirjoja. Jos kurssilla tarvitsee Limeksen painamaa kirjaa, sitä myydään yleensä ensimmäisten luentojen jälkeen Exactumin aulassa opiskelijaystävälliseen hintaan. Muulloin kirjoja voi ostaa Limeksen toimistosta, Exactum C132.</p>
  <br>
  <p><span id="Fuksiopas-Mitäsivuaineitapitäisiottaa?"> </span> 

  <strong>Mitä sivuaineita pitäisi ottaa?</strong><br>

  <br/> Matemaattis-luonnontieteellisessä tiedekunnassa opinto-oikeus on suhteellisen vapaa. Tarkimmat tiedot eri sivuainekokonaisuuksista ja opinto-oikeuksista löydät kyseisen aineen opinto-oppaasta. Matemaatikoiden suosimia sivuaineita ovat fysiikka, kemia, tilastotiede ja tietojenkäsittelytiede, mutta kukaan ei estä valitsemasta sivuaineeksi jotain muuta.</p>
  <br>
  <p><span id="Fuksiopas-Saankojostainopintoneuvontaa?"> </span>

  <strong>Saanko jostain opintoneuvontaa?</strong><br>

  <br/> Opintoneuvontaa saa laskupajasta (C321) siellä päivystäviltä assistenteilta. Ensimmäisen vuoden kurssien/opintojen suhteen voi kääntyä myös tuutoreiden sekä ohjaajatuutoreiden puoleen. Matematiikan suuntautumisvaihtoehdoista saat parhaiten tietoa kyseisen linjan vastuuhenkilöltä, heidän nimensä löydät opinto-oppaasta. Yleisempää neuvontaa (mm. sivuaineoikeudet, JOO-opinnot, lukuvuosi-ilmoittautumiset, opintotuki, opintosuoritusotteet, läsnäolotodistukset) tarjoaa tiedekunnan opintotoimisto Kumpulan kartanossa (Jyrängöntie 2).</p>
  <br>
  <p><span id="Fuksiopas-Missäonmatematiikanlaitos?"> </span>

  <strong>Missä on matematiikan laitos?</strong><br>

  <br/> Matematiikan ja tilastotieteen laitos sijaitsee Kumpulan kampuksella, Exactumissa (Gustaf Hällströmin katu 2B), yhdessä mm. tietojenkäsittelytieteen laitoksen kanssa. Aiemmin matematiikan laitos sijaitsi Yliopistonkatu 5:ssä, ns. Heimolan talossa, &quotKluuvin&quot Alkon yläkerrassa. Muutimme uusiin tiloihin kesällä 2004.</p>
  <br>
  <p><span id="Fuksiopas-Missäpidetäänmatematiikankurssienluennotjalaskuharjoitukset?"> </span>

  <strong>Missä pidetään matematiikan kurssien luennot ja laskuharjoitukset?</strong><br>

  <br/> Exactumin saleissa ja tiloissa, fuksikurssien luennot pääasiassa 1. kerroksen saleissa B123 ja A111 ja laskuharjoitukset 1. ja 3. kerroksen opetustiloissa. Paja ja ohjausryhmät ovat 3. kerroksessa. Tarkempaa tietoa löydät kurssien kotisivuilta sekä opinto-oppaasta.</p>
  <br>
  <p><span id="Fuksiopas-A"> </span>

  <strong>Missä ovat fysiikan, kemian ja TKT:n laitokset sekä tiedekunnan kanslia?</strong><br>

  <br/> Melkein koko tiedekunta sijaitsee Kumpulan kampuksella. Kemistit majailevat Chemicumissa, fyysikot, geologit ja maantieteilijät Physicumissa. Exactumin matemaatikot ja tilastotieteilijät jakavat tietojenkäsittelytieteilijöiden kanssa. Laitoksien kotisivuille löytää kätevästi <a href="http://www.helsinki.fi/ml/index.html" class="external-link" rel="nofollow">täältä</a>. Tiedekunnan kanslia ja opintotoimisto&nbspsijaitsevat Physicumin toisessa kerroksessa.</p>
  <br>
  <p><span id="Fuksiopas-Ketkäovatfuksi-jatuutorivastaavamme?"> </span>

  <% if @fuksijatuutorivastaavat and @fuksijatuutorivastaavat.size > 0 %>

    <strong>Ketkä ovat fuksi- ja tuutorivastaavamme?</strong><br>

    <br/> 
    <% if @fuksijatuutorivastaavat.size == 1 %>
      Fuksi- ja tuutorivastaavana vuonna <%= Time.now.year %> toimii 
    <% else %>
      Fuksi- ja tuutorivastaavina vuonna <%= Time.now.year %> toimivat 
    <% end %>

    <% @fuksijatuutorivastaavat.each_with_index do |vastaava, i| %>
      <% if i == @fuksijatuutorivastaavat.size - 1 %>
        <%= vastaava.name %>
      <% elsif i == @fuksijatuutorivastaavat.size - 2 %>
        <%= vastaava.name %> ja 
      <% else %>
        <%= vastaava.name %>, 
      <% end %>
    <% end %>

    <br>
    <br>

  <% end %>

  </p>
  <p><span id="Fuksiopas-MissäpaikkaXoikeinsijaitsee?"> </span>

  <strong>Missä paikka X oikein sijaitsee?</strong><br>

  <br/> Helsingin yliopiston sivuilla on loistava karttapalvelu. Sieltä löydät jokaisen kampusalueen kartan. Kätevä palvelu on myös HSL:n <a href="http://www.reittiopas.fi/" class="external-link" rel="nofollow">Reittiopas</a>.</p>
</div>