
<div class="box">
    <h1 class="title">Matematiikan opiskelijaryhmä Matrix ry</h1>

    <p>Matematiikan opiskelijaryhmä Matrix ry on Helsingin yliopiston matematiikan opiskelijoiden ainejärjestö.
    Järjestämme jäsenillemme sekä virkistys- ja vapaa-ajantoimintaa että matematiikan opiskeluun liittyvää toimintaa.
    Toimimme myös aineemme opiskelijoiden edunvalvojana yliopistolla.</p>
    <br>
	<div class="columns">
		<div class='column'>
		    <h3 class="title is-4">Tervetuloa!</h3>

		    <p>
		    	Tervetuloa opiskelemaan matematiikan ja tilastotieteen laitokselle! Matrix on kaikkien matematiikan opiskelijoiden, siis myös sinun, ainejärjestö. Järjestämme syksyllä uusille opiskelijoille eli fukseille runsaasti toimintaa aina urheilusta ja excuista bileisiin, joten syksyllä ei varmasti tule tylsää.

		    	<br>
		    	<br>

				Tietoa fuksitapahtumistamme saat näiltä sivuilta, etenkin fuksisivultamme, sinulle lähetetystä Matrixin punaisesta fuksiläystäkkeestä ja syksyllä tuutoriltasi, joka on vanhempi fuksien auttamiseen perehdytetty opiskelija. Fuksioppaastamme löydät paljon opiskeluun liittyvää tietoa sekä apua, ja voithan aina liittyä IRC-kanavallemme #matrix-ry IRCnetissä. 

				<br>
				<br>

				Ajankohtaisinta tietoa tulevista tapahtumista saat liittymällä Matrixin sähköpostilistalle. Katso myös kalenterimme.
			</p>
		</div>
		<div class='column'>
			<%= image_tag("varaslahto2013.JPG") %>
		</div>
	</div>
</div>
<div class="columns">
	<div class='column is-half'>
		<div class="box fixed-height-col">
		    <h1 class="title is-4">Ajankohtaista</h1>
		    <% @news.each do |news| %>
		      <h1 class="title is-5"><%= news.header %></h1>
		      <pre><%= news.text %></pre>
		      <% if news != @news.last %>
		      	<hr>
		      <% end %>
		    <% end %>
		</div>
	</div>
	<div class="column is-half">
		<div class="box fixed-height-col">
		    <h1 class="title is-4">Tulevia tapahtumia</h1>
		    <% @events.each do |event| %>
		      <h1 class="title is-5"><%= link_to event.name, event_path(event.id) %></h1>
		      <p><%= DateHelper.standard_time(event.starttime) %></p>
		      <% if event.location and event.location.length > 0 %>
		      	<p>@ <%= event.location %></p>
		      <% end %>
		      <% if event.signup_open %>
		      	<br>
		      	<% if event.signup_end %>
		      		<i>Ilmoittautuminen tapahtumaan on käynnissä ja päättyy <%= DateHelper.standard_time2(event.signup_end) %> </i>
		      	<% else %>
		      		<i>Ilmoittautuminen tapahtumaan on käynnissä</i>
		      	<% end %>
		      <% elsif event.signup_required and event.signup_start %>
		      	<br>
		      	<i>Ilmoittautuminen tapahtumaan alkaa <%= DateHelper.standard_time2(event.signup_start) %> </i>
		      <% end %>
		      <% if event != @events.last %>
		      	<hr>
		      <% end %>
		    <% end %>
		</div>
	</div>
</div>