
<section id="banner" class="section container">
	<div class="columns level">
		<div class="column is-one-third">
			<%= image_tag("logo.gif") %>
		</div>
		<div class="column">
			<h1 class='title'><%= t('matrix_title') %></h1>
			<br>
			<h2 class='subtitle'><%= t('matrix_subtitle') %></h2>
		</div>
	</div>
</section>
<div class="box">
    <h1 class="title hide-in-mobile"><%= t('matrix_title') %></h1>

	<p><%= t('matrix_description') %></p>
    <br>
	<div class="columns">
		<div class='column'>
			<% if @tervetuloa %>
				<pre><%= @tervetuloa.value.html_safe %></pre>
			<% else %>
			    <h3 class="title is-4">Tervetuloa!</h3>

			    <p>
			    	Tervetuloa opiskelemaan matematiikan ja tilastotieteen laitokselle! Matrix on kaikkien matematiikan opiskelijoiden, siis myös sinun, ainejärjestö. Järjestämme syksyllä uusille opiskelijoille eli fukseille runsaasti toimintaa aina urheilusta ja excuista bileisiin, joten syksyllä ei varmasti tule tylsää.

			    	<br>
			    	<br>

					Tietoa fuksitapahtumistamme saat näiltä sivuilta, etenkin <%= link_to 'fuksisivultamme', '/fuksille' %>, sinulle lähetetystä Matrixin punaisesta fuksiläystäkkeestä ja syksyllä tuutoriltasi, joka on vanhempi fuksien auttamiseen perehdytetty opiskelija. <%= link_to 'Fuksioppaastamme', '/fuksiopas' %> löydät paljon opiskeluun liittyvää tietoa sekä apua. 

					<br>
					<br>

					Ajankohtaisinta tietoa tulevista tapahtumista saat liittymällä Matrixin sähköpostilistalle. Katso myös kalenterimme.
				</p>
			<% end %>
		</div>
		<div class='column'>
			<% if @image and @image.image_url %>
				<%= image_tag(@image.image_url) %>
			<% else %>
				<%= image_tag("varaslahto2013.JPG") %>
			<% end %>
		</div>
	</div>
</div>
<div class="columns">
	<div class='column is-half'>
		<div class="box fixed-height-col">
		    <h1 class="title is-4"><%= t('news') %></h1>
		    <% if sub_admin %>
		    	<%= link_to 'Lisää uutinen', new_news_path %>
		    	<br>
		    	<br>
		    <% end %>
		    <% @news.each do |news| %>
		      <h1 class="title is-5"><%= news.header %></h1>
		      <pre><%= news.text %></pre>
		      <% if news != @news.last %>
		      	<hr>
		      <% end %>
		    <% end %>
		</div>
	</div>
	<div class="column is-half">
		<div class="box fixed-height-col">
		    <h1 class="title is-4"><%= t('upcoming_events') %></h1>
		    <% if sub_admin %>
		    	<%= link_to 'Lisää tapahtuma', new_event_path %>
		    	<br>
		    	<br>
		    <% end %>
		    <% @events.each do |event| %>
		      <h1 class="title is-5"><%= link_to event.name, event_path(event.id) %></h1>
		      <p><%= DateHelper.standard_time(event.starttime) %></p>
		      <% if event.location and event.location.length > 0 %>
		      	<p>@ <%= event.location %></p>
		      <% end %>
		      <% if event.signup_open %>
		        <br>
		        <% if event.signup_end %>
		          <i><%= t('signup_open_with_end') %> <%= DateHelper.standard_time2(event.signup_end) %> </i>
		        <% else %>
		          <i><%= t('signup_open') %> </i>
		        <% end %>
		      <% elsif event.signup_required and event.signup_start and event.signup_start > Time.now %>
		        <br>
		        <i><%= t('signup_starts') %> <%= DateHelper.standard_time2(event.signup_start) %> </i>
		      <% end %>
		      <% if event != @events.last %>
		      	<hr>
		      <% end %>
		    <% end %>
		</div>
	</div>
</div>
<% if @info %>
    <div class="box">
    	<pre><%= @info.value.html_safe %></pre>
	</div>
<% end %>