<h1>Toiminta</h1>

 <p> </p>
 <p>Matrix järjestää paljon erilaista toimintaa ympäri vuoden. Parhaiten tapahtumista pysyy ajantasalla seuraamalla Matrixin <%= link_to 'kalenteria', '/kalenteri' %>, nettisivujen <%= link_to 'etusivua', root_path %> ja erityisesti <%= link_to 'sähköpostilistoja', '/sahkopostilistat' %>, jotka ovat tiedotuksen pääväylä.</p>

 <h2>Toistuva toiminta</h2>

 <p>Matrixilla on useita jo pitkän aikaa ympäri vuoden järjestettyjä tapahtumia. Matrixin <%= link_to 'kerhot', '/kerhot' %> järjestävät myös tapahtumia pitkin vuotta. Kaiken tämän lisäksi järjestetään myös runsaasti muita tapahtumia jäsenistön aktiivisuuden mukaan.</p>

 <p><strong><%= link_to 'Klusterihengailut', '/klusteri' %></strong><br/>

 Klusterihengailut ovat Matlun Christina Regina -klusterilla osoitteessa Leppäsuonkatu 11 noin kerran kuukaudessa järjestettäviä hengailuja. Tarjolla on hauskaa matemaatikkoseuraa, pientä naposteltavaa, lautapelejä, SingStar sekä rakas Urho-karhu.</p>

 <p><strong>Sitsit</strong><br/>

 Sitsit ovat akateemisia pöytäjuhlia, joille pukeudutaan hienosti, ja joilla lauletaan, juodaan ja ehkä syödäänkin, mikäli kaikelta laulamiselta keretään. Pöytäjuhlamuotoisten vuosijuhlien ja pikkujoulujen lisäksi järjestetään syksyllä uusille fukseille suunnatut fuksisitsit, joilla fuksit tutustutetaan sitsiperinteisiin ja -käytäntöihin. Näiden lisäksi keväällä on tapana järjestää yhteissitsit jonkun tai joidenkin muiden kumpulalaisten järjestöjen kanssa. Tällöin on mahdollisuus päästä tutustumaan muidenkin kuin matemaatikkojen sitsiperinteisiin ja tapaamaan ihmisiä muista järjestöistä. Kesällä taas kierretään Kanariansaaria sitsaamalla puistossa tämän teeman mukaisesti. </p>

 <p><strong>Saunaillat</strong><br/> 

 Matrix järjestää vuosittain useita saunailtoja, joissa on yleensä jonkinlaista tarjoilua. Perinteisin saunailloista on joulukuussa ennen lukukauden päättymistä järjestettävä joulusauna, jota edeltää seuraavan vuoden hallituksen järjestäytymiskokous. Saunaillat järjestetään pääasiassa Idan saunassa osoitteessa Ida Aalbergin tie 1 tai kattosauna Sivistyksessä klusterimme yläkerrassa 3. kerroksessa.</p>

 <p><strong>Kemulit</strong><br/>

  Kemulit ovat täysin alkoholittomia tapahtumia, joiden aiheena voi olla mität tahansa maan ja taivaan väliltä. Säännöllisimmin järjestettäviä kemuleita ovat keväiset haalarimerkkiompelukemulit ja erilaiset leffakemulit.</p>

  <p><strong>Liikuntavuoro</strong><br/> 

  Matrixin liikuntavuoro järjestetään torstaisin klo 17-18 <a href="http://yliopistoliikunta.helsinki.fi/yol/web/fi/sportsvenue/viewSportsVenue.do?sportsVenueId=3093" class="external-link" rel="nofollow">Kumpulan liikuntakeskuksen</a> palloilusalissa. Vuoro on Matrixin jäsenille ilmainen eli se ei vaadi Yliopistoliikunnan liikuntatarraa. Yleisesti vuorolla pelataan vuoroviikoin futsalia, koripalloa ja sählyä, ja <%= link_to 'liikuntavastaava', '/hallitus' %>, jolle voi myös esittää toiveita lajista, ilmoittaa viikon lajin sähköpostilistalla.</p>

  <h2 id="Toiminta-Vuodenkohokohdat">Vuoden kohokohdat</h2>

  <p>Eräät tapahtumat ovat muodostuneet perinteikkäiksi ja ne järjestetään joka vuosi suunnilleen samana ajankohtana. Osallistuminen on luonnollisesti vilkasta.</p>

  <p><strong>Vuosijuhlat</strong><br/> 

  Matrixin vuosijuhlat järjestetään maaliskuun alussa sen kunniaksi, että Matrix sai nimensä 1.3.1995. Perinteisesti joka viides vuosi järjestetään suuremmat ja hienommat vuosijuhlat. Edellisen kerran tällaiset järjestettiin Matrixin täyttäessä 20 vuotta vuonna 2015.</p>

  <p><strong>Laskiainen</strong><br/> 

  Perinteisesti laskiaisrieha alkaa Ullanlinnamäellä klo 12. Matrixin on tapana tavata tuolloin palloukoilla ja suunnata sieltä kohti mäkeä. Haalarit liukuvat hyvin, jos sattuu tipahtamaan pulkasta, joten ne ovat oleellinen osa varustusta. Palloukoilla ja mäessä Matrixin tunnistaa liehuvasta lipusta. Mukaan otetaan myös muutama pulkka, mutta omat laskuvälineet ovat mukava lisä punaiseen jonoon. Illemmalla nähdään vielä laskiaisbileissä, jonne ei yleensä yhteislähtöä ole järjestetty. Haalarit kuuluvat tännekin.</p>

  <p><strong>Vappu</strong><br/> 

  Perinteisesti Matrix aloittaa vapun, tuon opiskelijoiden pyhän juhlan, vappuaattona klo 12 Exactumin kattoterassilla tutustuen upeaan näköalaan, jonka Kumpula meille tarjoaa. Koska huipulla yleensä tuulee, niin auringonpaisteesta ja lämmöstä riippuen matemaatikkokin palelee. Pikkuhiljaa tapahtuu siirtyminen Physicumin ja Chemicumin välille grillailemaan ja hengailemaan lippu liehuen. Ja jälleen ilman mitään tarkkaa kellonlyömää lähdetään katsomaan Mantan lakitusta.</p>

  <p>Vappupäivänä paistaa aina aurinko pilvettömältä taivaalta. Tällöin Matrixilla on tapana mennä yhdessä pikniköimään Ullanlinnanmäellä, missä muukin juhlakansa vielä karkeloi. Yhtä perinteisesti yhteislähtö on järjestetty palloukoilta klo 10, vaikka yhteislähdön vetäjä usein onkin kykenemätön saapumaan paikalle. Matrix tuo paikalle lipun sekä pressun ja jokainen omat eväät, joita on tapana tarjoilla ja 'vaihdella'.</p>

  <p><strong>Syksyn bileet</strong><br/> 

  Matrix järjestää joka syksy lukuvuoden alussa suuret ja suositut bileet, joilla on jokin teema, jonka mukaan pukeutuminen on enemmän kuin sallittua.</p>

  <p><strong>Pikkujoulut</strong><br/> 

  Matrixin legendaariset pikkujoulut järjestetään perinteisesti pöytäjuhlamuotoisina marraskuun lopulla ja keräävät paikalle suuren joukon niin vanhoja kuin uusiakin opiskelijoita.</p>

  <h2 id="Toiminta-Muutatoimintaa">Muuta toimintaa</h2>

  <p><strong>Vaihtoehtolaskarit</strong></p>

  <p>Harva opiskelija ei ole törmännyt siihen ongelmaan, että monissa tutuissa ja turvallisissa ympäristöissä opiskeleminen voi usein olla kovin tehotonta. Tai no, harva opiskelija opiskelee edes muualla kuin oman luukun suojissa tai sitten ihan oppilaitoksella, ja siellä omalla kämpällä tietokone, Facebook, IRC, televisio ja tuorein jakso Simpsoneita huutavat huomion perään ja yliopistolla on liikaa puhuttavaa liian monen ihmisen kanssa aivan muusta kuin kofiniitista topologiasta. Löytyisikö jostain parempia opiskeluympäristöjä? Keväällä 2012 Matrix päätti selvittää, miten laskarien kanssa painiminen sujuu muutamassa hieman poikkeavassa paikassa.</p>

  <p><strong>Marssit</strong></p>

  <p>Matrixin marssit ovat kesällä 2011 syntyneen ajatuksen poikasia. Tarkoituksena on koluta Helsinkiä ja lähitienoita jalkaisin. Marssit ovat yleensä noin 20 kilometriä pitkiä.</p>

  <h2 id="Toiminta-Tapahtumakalenterit">Tapahtumakalenterit</h2>

  <p>Menneiden tapahtumista löytyy tietoa tapahtumakalentereista. Tapahtuman jäljessä osallistujamäärä.</p>

  <ul>
    <% @years.each do |year| %>
      <% if year <= Date.today.year %>
        <li><%= link_to 'Tapahtumakalenteri ' + year.to_s, 'kalenteri/vuosi/' + year.to_s %></li>
      <% end %>
    <% end %>
  </ul>