<div class="box">
  <h1 class="title">Yhteystiedot</h1>
  <br>
  <h3 class="subtitle">Postiosoite ja toimisto</h3>

  <p>Matrixin postiosoite on</p>

  Matematiikan ja tilastotieteen laitos<br>
  Matrix ry<br>
  PL 68 Pietari Kalmin katu 5, Exactum<br>
  00014 Helsingin yliopisto<br>

  <br>

  <p>Toimistona palvelee Exactumin matematiikan ja tilastotieteen laitoksen opiskelijahuone, Exactum C338.</p>
  <br>
  <h3 class="subtitle">Sähköpostit</h3>

  <ul>
    <% @contact_positions.each do |position| %>
      <% if position.current_members and !position.current_members.empty? %>
        <li>
          <% if position.current_members.size == 1 %>
            <%= position.name %>: 
          <% else %>
            <%= position.name %>t:
          <% end %> 
          <% position.current_members.each_with_index do |position_member, i| %>
            <% if i == position.current_members.size - 1 %>
      	      <%= position_member.member.info_with_email %>
      	    <% elsif i == position.current_members.size - 2 %>
      	      <%= position_member.member.info_with_email %> ja 
      	    <% else %>
      	      <%= position_member.member.info_with_email %>, 
      	    <% end %>
    	    <% end %> 
    	  </li>
      <% end %>
    <% end %>
  </ul>

  <% if @other_info %>
    <pre>
<%= @other_info.value.html_safe %>
    </pre>
  <% else %>

    <p>Aktiivisähköpostilista: matrix-ry</p>
    <p>Muiden vastaavien ja aktiivien tiedot löydät <%= link_to 'täältä', '/hallitus' %>.</p>
    <p>Katso myös tietoa Matrixin muista <%= link_to 'sähköpostilistoista', '/sahkopostilistat' %>.</p>
    <br>
    <h3 class="subtitle">Sosiaalinen media</h3>

    Facebook-sivu: <%= link_to 'Matrix ry', 'https://www.facebook.com/matrixry/' %><br>
    Facebook-ryhmä: <%= link_to 'Matrix ry', 'https://www.facebook.com/groups/4931342997/' %><br>
    Instagram: <%= link_to '@matrix_ry', 'https://www.instagram.com/matrix_ry/' %><br>
    Jodel: @matrix_ry<br>
    <br>
    <h3 class="subtitle">Opetusvälitys</h3>

    <p>Matrixin postituslistaa matrix-opet (at) helsinki.fi jaellaan opetustehtävistä kiinnostuneilla matematiikan opiskelijoille. Listalle voi siis lähettää vapaasti työtarjouksia sijaisuuksista ja yksityisopetuksesta. Matrix ei kuitenkaan muuten koordinoi opetusvälitystä listan kautta.</p>

  <% end %>
</div>