<%= form_for @board_member, html: { :multipart => true, :onsubmit => "return confirm('#{t('are_you_sure')}?')" } do |f| %>
  <div class="field">
    <%= f.label :name, t('Year'), :class => 'label' %>
    <div class="control">
      <% if @board_member.new_record? %>
        <%= f.number_field :year, :class => 'input', :required => true, :min => 1991, :max => 3000, :value => @this_year %>
      <% else %>
        <%= f.number_field :year, :class => 'input', :required => true, :min => 1991, :max => 3000 %>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :member_id, t('Member'), :class => 'label' %>
    <div class="control">
      <div class="select">
        <%= f.select :member_id, options_from_collection_for_select(@members, :id, :name, @board_member.member_id), :include_blank => true %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :name, "(#{t('board_member_user_info')})", :class => 'label' %>
    <div class="control">
      <%= f.text_field :name, :class => 'input' %>
    </div>
  </div>
  <div class="field    <label class="checkbox">
      <%= f.check_box :supplementary %>
      <%= t('Deputy') %>
    </label>
  </div>
  <%= label_tag :avatar, t('Picture'), :class => 'label' %>
  <%= file_field_tag :avatar %>
  <p class="help"><%= t('board_member_picture_info') %></p> <br>
  <%= f.submit t('Save'), class: "button is-link" %> <br>
<% end %>