<div class="box">
  <h1 class="title is-spaced">Hallituksen jäsenet ja virat</h1>

  <h2 class="subtitle">Hallitus</h2>

  <table class = "table">
    <thead>
        <tr>
           <th>Nimi</th>
           <th>Vuosi</th>
           <th>Varajäsen?</th>
           <th> </th>
           <th> </th>
        </tr>
     </thead>

    <tbody>
  	<% @board_members.each do |member| %>
  	  <tr>
    	  <td><%= member.get_name %></td>
    		<td><%= member.year %></td>
    		<td><%= check_box_tag 'supplementary', 'supplementary', member.supplementary, disabled: true %></td>
        <td><%= link_to 'Muokkaa', edit_board_member_path(member), :class => 'button is-link' %></td>
    		<td><%= button_to "Poista", {action: "destroy", id: member.id}, method: :delete, class: "button is-danger", data: {confirm: "Oletko varma?"} %></td>
  	  </tr>
  	<% end %>
    </tbody>
  </table>

  <h2 class="subtitle">Virat</h2>

  <table class = "table">
    <thead>
        <tr>
           <th>Nimi</th>
           <th>Vuosi</th>
           <th>Virka</th>
           <th> </th>
           <th> </th>
        </tr>
     </thead>

    <tbody>
  	<% @position_members.each do |position_member| %>
  	  <tr>
  	    <td><%= position_member.get_name %></td>
    		<td><%= position_member.year %></td>
    		<td><%= position_member.position.name %></td>
        <td><%= link_to 'Muokkaa', edit_position_member_path(position_member), :class => 'button is-link' %></td>
    		<td><%= button_to "Poista", {action: "destroy", controller: "position_members", id: position_member.id}, method: :delete, class: "button is-danger", data: {confirm: "Oletko varma?"} %></td>
  	  </tr>
  	<% end %>
    </tbody>
  </table>
</div>