<div class="box">
	<h1 class="title">Hallitus ja virkailijat</h1>

	<% if sub_admin %>

		<%= link_to 'Lisää hallituksen jäsen',  new_board_member_path %>
		<br>
		<%= link_to 'Lisää virkailija', new_position_member_path %>
		<br>
		<%= link_to 'Muokkaa hallituksen jäseniä ja virkailijoita', '/board_members_and_positions' %>
		<br>
		<%= link_to 'Virat', positions_path %>
		<br>
		<br>
	<% end %>

	<p>Matrixin toiminnasta vastaa järjestön hallitus.
	    Käytännössä varsinaisten hallituslaisten lisäksi toimintaa on kuitenkin pyörittämässä joukko ahkeria virkailijoita.
	    Jokaisella virkailijalla ja hallituksen jäsenellä on vastuualue, johon liittyviä asioita he hoitavat järjestössä.</p>

	<p> Hallitus valitaan joka vuosi yhdistyksen syyskokouksessa ja virkailijat uuden hallituksen järjestäytymiskokouksessa joulukuussa,
	    vaikkakin virkailijaksi voi ryhtyä myös kesken vuotta. Kaikki tehtäviä hoitavat ovat aivan tavallisia matrixlaisia. Lue lisää <%= link_to 'virkailijaksi ryhtymisestä!', '/virkailijaksi' %></p>
	<br>
	<h3 class="subtitle"> Hallitukset vuosittain </h3>

	<nav class="breadcrumb" aria-label="breadcrumbs">
	  <ul>
	  	<% @years.each do |year| %>
	      <li><%= link_to year, hallitus_path(:vuosi => year) %></li>
	    <% end %>
	  </ul>
	</nav>

	<% if not @board_members.empty? or not @supplementary_members.empty? or not @position_members.empty? %>
	
		<h2 class="title"> Hallitus ja virkailijat <%= @year %> </h2>

		<% if not @board_members.empty? %>
			<br>
			<h3 class="subtitle">Hallituksen jäsenet</h3>

			<%= render :partial => "board_member_list", :locals => 
		  { :members => @board_members } %>

		<% end %>

		<% if not @supplementary_members.empty? %>
			<br>
			<h3 class="subtitle">Hallituksen varajäsenet</h3>

			<%= render :partial => "board_member_list", :locals => 
		  { :members => @supplementary_members } %>

		<% end %>

		<% if not @position_members.empty? %>
			<br>
			<h3 class="subtitle">Virkailijat</h3>

			<%= render :partial => "position_member_list", :locals => 
		  { :members => @position_members } %>

		<% end %>
	<% end %>
</div>