<% if !@board_member.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @board_member.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @board_member, html: { multipart: true } do |f| %>
      <%= f.label :year, 'Vuosi' %> <br>
      <%= f.number_field :year, :selected => Time.now.year %> <br>
      <%= f.label :user_id, 'Käyttäjä' %> <br>
      <%= f.select :user_id, options_from_collection_for_select(@users, :id, :name), {:include_blank => 'Ei käyttäjää'} %> <br>
      <%= f.label :supplementary, 'Varajäsen' %>
      <%= f.check_box :supplementary %> <br>
      <%= f.label :name, 'Nimi' %> <br>
      <%= f.text_field :name %> <br> <br>
      <%= f.submit "Save", class: "btn btn-primary" %> <br>
   <% end %>
</div>