<div class = "well">
   <%= form_for @board_member, html: { multipart: true } do |f| %>
      <%= f.label :year, 'Vuosi' %> <br>
      <%= f.number_field :year, :value => @this_year %> <br>
      <%= f.label :user_id, 'K채ytt채j채' %> <br>
      <%= f.select :user_id, options_from_collection_for_select(@users, :id, :name, @user) %> <br>
      <%= f.label :supplementary, 'Varaj채sen' %>
      <%= f.check_box :supplementary %> <br>
      <%= f.label :avatar, 'Kuva' %>
      <%= f.file_field :avatar %> <br> <br>
      <%= f.submit "Save", class: "btn btn-primary" %> <br>
   <% end %>
</div>