<div class="box">

   <h3 class="title">Muokkaa dokumenttia</h3>

   <%= form_for(@document) do |f| %>

     <div class="field">
       <%= f.label :name, 'Nimi', :class => 'label' %>
       <div class="control">
         <%= f.text_field :name, :class => 'input', :required => true %>
       </div>
     </div>

     <div class="field">
       <div class="control">
         <%= f.file_field :attachment, accept: 'text/txt' %>
       </div>
     </div>

     <div class="field">
          <%= f.label :document_group_id, 'Dokumenttikategoria', :class => 'label'  %>
          <div class="select">
             <%= f.select :document_group_id, options_from_collection_for_select(@document_groups, :id, :name, @document_group_id) %>
          </div>
      </div>

     <div class="actions">
       <%= f.submit :value => 'Tallenna', :class => 'button is-link' %>
     </div>
   <% end %>

   <% if @document_group_id %>
      <br>
      <%= link_to 'Takaisin', document_group_path(@document_group_id) %>
   <% end %>

</div>