<%= form_for(@document_group_category) do |f| %>
  <% if @document_group_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document_group_category.errors.count, "error") %> prohibited this document_group_category from being saved:</h2>

      <ul>
      <% @document_group_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nimi', :class => 'label' %>
    <div class="control">
      <%= f.text_field :name, :class => 'input', :required => true %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Tallenna', :class => 'button is-link' %>
  </div>
<% end %>
