<%= form_for(@player) do |f| %>
    <% if @player.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@player.errors.count, "error") %> Lisäys epäonnistui seuraavista syistä:</h2>

          <ul>
            <% @player.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h1>Lisää uusi pelaaja</h1>

    <div class="field">
      <%= f.label 'Nimi' %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.hidden_field :expectation, :value => 1500 %>
    </div>
    <div class="field">
      <%= f.hidden_field :deviation, :value => 500 %>
    </div>
    <div class="actions">
      <%= f.submit 'Lisää pelaaja' %>
    </div>
<% end %>