
<% render 'title' %>

<p id="notice"><%= notice %></p>

<h1>Jätkäntappajat</h1>

<br>

<% if current_user %>

<%= button_to 'Uusi peli', new_match_path, :method => "get", class: 'btn btn-primary' %>
<br>
<% if admin %>
    <%= button_to 'Kaikki pelit', matches_path, :method => "get", class: 'btn btn-primary' %>
    <br>
<% end %>
<%= button_to 'Keskeneräiset pelit', ongoingmatches_path, :method => "get", class: 'btn btn-primary' %>

<h1>Ratings</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= link_to 'Sijoitus', jatkantappajat_path %></th>
      <th><%= link_to 'Nimi', jatkantappajat_path(order: 'name') %></th>
      <th><%= link_to 'Odotusarvo', jatkantappajat_path(order: 'expectation') %></th>
      <th><%= link_to 'Keskihajonta', jatkantappajat_path(order: 'deviation') %></th>
      <th><%= link_to 'Vahvuus', jatkantappajat_path(order: 'assurity') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <% if !player.private or (current_user and current_user.player and current_user.id == player.user_id)%>
      <tr>
        <td><%= player.placement %></td>
        <td><%= player.name %></td>
        <td><%= player.expectation.round(2) %></td>
        <td><%= player.deviation.round(2) %></td>
        <td><p class="assurity"><%= [(player.expectation - 3*player.deviation).round(2), 0].max %></p></td>
        <% if admin %>
            <td><%= link_to 'Show', player %></td>
            <td><%= link_to 'Edit', edit_player_path(player) %></td>
            <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'quick_new_form' %>

<%= render 'matches/quick_new_form' %>

<% end %>

<h1>Huutopussin säännöt</h1>

<p>Tässä esitetyt säännöt perustuvat Jouni Haapakosken julkaisemiin sääntöihin.</p>

<p>Huutopussi, tuo peleistä jaloin. Kyseessä on tikkipeli neljälle pelaajalle, missä pelaajat pelaavat pareittain toista paria vastaan.
  Peli muistuttaa marjapussia, ja sitä osaavat pelaajat oppivatkin huutopussin säännöt helposti.</p>

<h2>Valmistelut</h2>

<p>Pelissä käytetään tavallista korttipakkaa, josta on poistettu kortit 2-5, jolloin kortteja jää jäljelle 36.
  Korttien arvojärjestys on seuraava: ässä korkein, kymppi toiseksi korkein, kolmanneksi korkein kuningas, josta lähtien normaali suuruusjärjestys.
  Maat ovat keskenään lähtökohtaisesti samanarvoisia, mutta pelissä voidaan julistaa myös valtteja.
  Pelin alussa kortit sekoitetaan huolellisesti ja ensimmäinen jakaja jakaa kortit tasan kaikkien pelaajien kesken.</p>

<h2>Huutovaihe</h2>

<p>Aloitus yritetään saada itselle huutamalla enemmän kuin vastapelaajat. Huudollaan pelaaja sitoutuu yrittämään parinsa kanssa vähintään niin montaa pistettä kuin huuto osoittaa.
  Vain voittohuudon tehnyt parin pitää pystyä saamaan lupaamansa verran pisteitä. Jakajasta seuraava aloittaa huutokierroksen.
  Avaushuudon täytyy olla vähintään 50 pistettä, ja suurin sallittu huuto on 440. Koska kaikki pelissä jaettavat pisteet ovat viidellä jaollisia, kaikkien huutojen ja korotusten täytyy olla viidellä jaollisia.
  Tämän jälkeen kukin pelaaja vuorollaan joko lupaa enemmän tai ilmoittaa luopuvansa kilpailusta.
  Korkein huuto voittaa, minkä jälkeen huudonvoittajan pari antaa tälle kolme vapaavalintaista korttia, mitkä nähtyään voittaja antaa parilleen takaisin mitkä tahansa kolme korttia,
  minkä jälkeen huudonvoittaja saa halutessaan korottaa huutoaan.</p>

<p>Ensimmäisellä kierroksella omalla vuorollansa voi vaatia uutta jakoa, jos kädessä ei ole yhtään jätkäntappajaa, eli käden korkein kortti on jätkä, tai jos kädessä on vähintään kolme kuutosta.
  Myöhemmillä kierroksilla tätä ei saa enää tehdä.</p>

<h2>Pelin kulku</h2>

<p>Pelissä pelataan useita kierroksia eli tikkejä, joissa jokainen pelaa yhden kortin kädestään ja korkeimman kortin pelannut voittaa kyseisen tikin.
  Tikin voittanut aloittaa aina seuraavan. Huudon voittaja aloittaa ensimmäisen tikin. Jos mahdollista, tikin ajajasta seuraavien täytyy tunnustaa maata, eli pelata samaa maata, kuin tikinaloittaja.
  Jos pelissä on voimassa valtti ja pelaajalla on sitä kädessä ja pelaajalla ei ole kysyttyä maata, täytyy pelaajan pelata valttia.
  Jos pelaajalla ei ole kädessä valttiakaan, hän saa pelata minkä kortin tahansa, mutta sillä ei voi voittaa tikkiä.
  Jos pelaaja voi pelata maantunnustuspakkoa rikkomatta korkeamman kortin kuin tikkiin jo pelatut, hänen täytyy tehdä se.
  Jos tikkiin on pelattu jo valttia, pelaajan ei tarvitse pelata korkeampaa korttia kuin tikkiin pelatut, kysyttyä maata olevat. Ylimenopakko koskee korkeinta sillä hetkellä pöydässä olevista korteista.</p>

<p>Pelaajat keräävät voittamansa kortit eteensä tai parinsa eteen kuvapuoli alaspäin. Edellisen tikin saa kuka tahansa katsoa milloin vain.
  Jos pelaajalla tai parilla on kokonainen, eli samaa maata olevat kuningas ja kuningatar, hän voi oman ajonsa voitettuaan julistaa kyseisen maan valtiksi.
  Kokonaisen ei tarvitse olla saman pelaajan kädessä, vaan pelaaja voi vuoron alussa kysyä pariltaan, onko hänellä jonkin maan puolikasta, eli kuningasta tai kuningatarta,
  jos hänellä on kyseisestä maasta itsellään toinen puolikkaista. Vaihtoehtoisesti hän voi kysyä pariltaan, onko tällä kokonaista.
  Kummassakin tapauksessa myöntävästä vastauksesta seuraa automaattisesti voimaan tuleminen. Jokaisen voittoajon päätteeksi parilta saa kysyä vain yhden kysymyksen.
  Kun valtti on voimassa, kyseisenmaan kortit ovat arvokkaampia kuin kaikki muut kortit paitsi korkeammat valtit. Käden alussa ei ole voimassa valttia, ja pelin aikana voidaan julistaa useita valtteja.
  Mikäli valttia julistettaessa on voimassa jo valtti, uusi valtti korvaa vanhan; kerralla on voimassa korkeintaan yksi valtti. Yksi maa voidaan julistaa valtiksi vain kerran yhden käden aikana.</p>

<p>Kun kaikki kortit on pelattu kädestä, lasketaan joukkueiden keräämät pisteet. Jos huudon joukkue on saanut kasaan lupaamansa määränpisteitä, saa hän sen verranpisteitä.
  Muussa tapauksessa pelaajan sen hetkisistä pisteistä vähennetään hänen lupaamansa verran. Toinen pari saa pisteitä sen verran kuin on onnistunut keräämään.
  Jos pari ei ole onnistunut voittamaan yhtäkään tikkiä eli vastustaja on saanut niin sanotun läpärin, saavat he voittohuudon verran miinusta.
  Pelin voittaa se osapuoli, joka saavuttaa ensimmäisenä 500 pistettä. Mikäli kumpikin pari pääsee 500 pisteeseen samaan aikaan, enemmän pisteitä saanut voittaa.
  Tasapelin sattuessa tilanne ratkotaan väkivalloin. Jos parilla on korkeintaan -500 pistettä, ovat he huutokiellossa, eli he eivät saa osallistua huutovaiheeseen.
  He voivat kuitenkin vaatia uutta jakoa, jos heillä on kädessään vähintään kolme kutosta tai heillä ei ole yhtään jätkäntappajaa.
  Mikäli molemmat osapuolet ovat huutokiellossa, jakajasta seuraava huutaa.</p>

<h2>Pisteidenlasku</h2>

<p>Parit saavat pisteitä yksittäisistä keräämistään korteista seuraavasti: kukin ässä ja kymppi 10 pistettä, jokaisesta kuninkaasta, kuningattaresta ja jätkästä 5 pistettä.
  Lisäksi viimeisen tikin voittajalle jaetaan 20 pistettä. Yhteensä korteista ja viimeisestä tikistä on siis jaossa 160 pistettä.
  Pelissä jaetaan pisteitä myös valttien julistamisesta. Herttavaltin julistamisesta annetaan 100 pistettä, ruudusta 80, rististä 60 ja padasta 40.
  Valtin julistamisesta saa pisteet, vaikka sen jälkeen olisikin julistettu jokin toinen valtti. Pelissä, jossa julistetaan kaikki valtit, on jaossa siis yhteensä 440 pistettä.</p>

<% if admin %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Nimi</th>
      </tr>
      </thead>

        <tbody>
        <% @players.each do |player| %>
            <tr>
                <td><%= link_to player.name, player %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>