<%= form_for(@match) do |f| %>
    <% if @match.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@match.errors.count, "error") %> Lisäys epäonnistui seuraavista syistä:</h2>

          <ul>
            <% @match.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h1>Lisää pelkkä pelitulos</h1>

    <div class="field">
      <p>Voittajat</p>

      <%= f.select :player1, options_from_collection_for_select(@players, :id, :name) %>
    </div>
    <div class="field">
      <%= f.select :player2, options_from_collection_for_select(@players, :id, :name) %>
    </div>
    <br>

    <div class="field">
      <p>Häviäjät</p>

      <%= f.select :player3, options_from_collection_for_select(@players, :id, :name) %>
    </div>
    <div class="field">
      <%= f.select :player4, options_from_collection_for_select(@players, :id, :name) %>
    </div>

    <div class="field">
      <%= f.hidden_field :winners, :value => 1 %>
    </div>
    <div class="actions">
      <%= f.submit 'Tallenna' %>
    </div>
<% end %>