<%= javascript_include_tag :defaults, "nested_form" %>

<p id="notice"><%= notice %></p>

<h2>Pelaajat</h2>

<p>
  <%= @match.firstPlayer.name %> ja <%= @match.secondPlayer.name %>
</p>
<p>vastaan</p>
<p>
  <%= @match.thirdPlayer.name %> ja <%= @match.fourthPlayer.name %>
</p>

<p>
  <%= @match.winnerteam %>
</p>

 <%= nested_form_for @match do |f| %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Jakaja</th>
        <th><%= @match.firstPlayer.name %><br> <%= @match.secondPlayer.name %></th>
        <th><%= @match.thirdPlayer.name %> <br><%= @match.fourthPlayer.name %></th>
        <th>Huudon voittaja</th>
        <th>Huuto</th>
        <th>Korotettu huuto</th>
        <th>Pitikö?</th>
        <th colspan="3"></th>
      </tr>
      </thead>

   <%= f.fields_for :hands, :wrapper => false do |hand_form| %>
     <tr class="fields">
       <td>
         <%= hand_form.text_field :points1 %>
         <%= hand_form.link_to_remove "Poista tämä käsi" %>
       </td>
      </tr>
   <% end %>
   <br>
   <td><%= f.link_to_add "Lisää käsi", :hands %></td>
</table>
 <% end %>



<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
