<%= javascript_include_tag :defaults, "nested_form" %>
<%= javascript_include_tag 'newhands','data-turbolinks-track' => false %>

<% render 'players/title' %>

<p id="notice"><%= notice %></p>

<h1>Peli #<%= @match.id %></h1>

<h2>Pelaajat</h2>

<p>
  <%= @match.firstPlayer.name %> ja <%= @match.secondPlayer.name %>
</p>
<p>vastaan</p>
<p>
  <%= @match.thirdPlayer.name %> ja <%= @match.fourthPlayer.name %>
</p>

<p>
  <%= @match.winnerteam %>
</p>

<% if @match.winners == 0 or admin %>

<h2>Kädet</h2>

    <p>Syötä pisteet käsikohtaisina muutoksina. Kokonaispisteet näkyvät alla. </p>
    <p>Esimerkiksi, jos ensimmäinen pari huutaa 200 ja pitää, niin kenttään laitetaan 200, eikä kokonaispisteitä.</p>
    <p>Käytä "-" -nappeja negatiivisten lukujen asettamiseen, jos niiden asettaminen ei muuten onnistu (mobiili)</p>

<p id="players" style="display:none"><%=@match.playerNames%></p>

<%= nested_form_for @match, :url => { :action => 'hands_update' } do |f| %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Jakaja</th>
        <th><%= @match.firstPlayer.name %><br> <%= @match.secondPlayer.name %></th>
        <th><%= @match.thirdPlayer.name %> <br><%= @match.fourthPlayer.name %></th>
        <th>Huudon voittaja</th>
        <th>Huuto</th>
        <th>Korotettu huuto</th>
        <th>Pitikö?</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody id="hands" onchange="showDealers()">
   <%= f.fields_for :hands, :wrapper => false do |hand_form| %>

       <tr class="fields">
           <td><p class="dealer"></p></td>
           <td style="display:none"><%= hand_form.number_field :match_id, value: @match.id %></td>
           <td class="team1handscore"><input type="button" value="-"> <%= hand_form.number_field :points1, in: -5000..440, step: 5, value: hand_form.object.points1 | 0 %></td>
           <td class="team2handscore"><input type="button" value="-"> <%= hand_form.number_field :points2, in: -5000..440, step: 5, value: hand_form.object.points2 | 0 %></td>
           <td><%= hand_form.select :declarer, options_from_collection_for_select(@declarers, :id, :name, :selected => hand_form.object.declarer) %></td>
           <td><%= hand_form.number_field :bid, in: 0..1000, step: 5 %></td>
           <td><%= hand_form.number_field :contract, in: 0..1000, step: 5 %></td>
           <td><%= hand_form.check_box :made %></td>
         <td><%= hand_form.link_to_remove "Poista käsi", data: { confirm: 'Poistetaanko käsi?' } %></td>
      </tr>
      <% end %>
      </tbody>
  </table>
    <p><%= f.link_to_add "Lisää käsi", :hands, :data => { :target => "#hands" }, :class => 'btn btn-primary' %></p>
        <h2>Tilanne</h2>

        <p><%= @match.firstPlayer.name %> ja <%= @match.secondPlayer.name %><b id="team1winning"></b> <h1 id="team1score">0</h1></p>

        <p><%= @match.thirdPlayer.name %> ja <%= @match.fourthPlayer.name %><b id="team2winning"></b> <h1 id="team2score">0</h1></p>
    <br>
    <%= hidden_field_tag :winners, "0", :id => "winners" %>
    <p><%= f.submit "Tallenna peli", :class => 'btn btn-primary', data: { confirm: 'Tallennetaanko peli?' } %></p>
<% end %>

<% if admin %>
<br>

<%= link_to 'Edit', edit_match_path(@match) %> |
<% end %>
<% end %>
<%= link_to 'Takaisin', jatkantappajat_path, data: { confirm: 'Haluatko varmasti poistua sivulta?' }  %>
