<% if !@position_member.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @position_member.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @position_member, html: { multipart: true } do |f| %>
      <%= f.select :user_id, options_from_collection_for_select(@users, :id, :name) %>
      <%= f.select :year, @years, :selected => Time.now.year %>
      <%= f.select :position_id, options_from_collection_for_select(@positions, :id, :name) %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>