<%= form_for(@non_member_signup) do |f| %>
  <% if @non_member_signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@non_member_signup.errors.count, "error") %> prohibited this non_member_signup from being saved:</h2>

      <ul>
      <% @non_member_signup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :name, 'Nimi' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, 'Sähköpostiosoite' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phonenumber, 'Puhelinnumero' %><br>
    <%= f.text_field :phonenumber %>
  </div>
  <div class="actions">
    <%= f.submit 'Ilmoittaudun' %>
  </div>
<% end %>
