<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @non_member_signup.event_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @non_member_signup.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @non_member_signup.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @non_member_signup.phonenumber %>
</p>

<%= link_to 'Edit', edit_non_member_signup_path(@non_member_signup) %> |
<%= link_to 'Back', non_member_signups_path %>
