<%= form_for(@hp_statistic) do |f| %>
  <% if @hp_statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hp_statistic.errors.count, "error") %> prohibited this hp_statistic from being saved:</h2>

      <ul>
      <% @hp_statistic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    User: <%= f.select :u_id, options_from_collection_for_select(@users, :id, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :expectation %><br>
    <%= f.text_field :expectation %>
  </div>
  <div class="field">
    <%= f.label :deviation %><br>
    <%= f.text_field :deviation %>
  </div>
  <div class="field">
    <%= f.label :assurity %><br>
    <%= f.text_field :assurity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
