<p id="notice"><%= notice %></p>

<h1>Huutopussi Ratings</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Pelaaja </th>
      <th>Odotusarvo </th>
      <th>Keskihajonta </th>
      <th>Varmuus </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hp_statistics.each do |hp_statistic| %>
      <tr>
        <td><%= hp_statistic.hpUsername %></td>
        <td><%= hp_statistic.expectation %></td>
        <td><%= hp_statistic.deviation %></td>
        <td><%= hp_statistic.assurity %></td>
        <td><%= link_to 'Show', hp_statistic %></td>
        <td><%= link_to 'Edit', edit_hp_statistic_path(hp_statistic) %></td>
        <td><%= link_to 'Destroy', hp_statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'quick_new_form' %>

<%= link_to 'New statistic', new_hp_statistic_path %>
