<p id="notice"><%= notice %></p>

<p>
  <strong>U:</strong>
  <%= @hp_statistic.u_id %>
</p>

<p>
  <strong>Expectation:</strong>
  <%= @hp_statistic.expectation %>
</p>

<p>
  <strong>Deviation:</strong>
  <%= @hp_statistic.deviation %>
</p>

<p>
  <strong>Assurity:</strong>
  <%= @hp_statistic.assurity %>
</p>

<%= link_to 'Edit', edit_hp_statistic_path(@hp_statistic) %> |
<%= link_to 'Back', hp_statistics_path %>
