<%= form_for(@text) do |f| %>
  <% if @text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
      <% @text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="title"><%= @text.name %></h1>

  <div class="field">
    <%= f.label :value, 'Teksti', :class => 'label' %>
    <div class="control">
      <%= f.text_area :value, :class => 'textarea', :required => true %>
    <div>
  </div>
  <br>
  <div class="field">
    <div class="control">
      <%= f.submit :value => 'Tallenna', :class => 'button is-link' %>
    </div>
  </div>
<% end %>