<div class="box">
    <h1 class="title"><%= t('Texts') %></h1>

	<table class="table">
    <thead>
      <tr>
        <th><%= t('Name') %></th>
      </tr>
    </thead>

    <tbody>
      <% @texts.each do |text| %>
        <tr>
          <td><%= t(text.name) %></td>
          <td><%= link_to t('Edit'), edit_text_path(text) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

	<br>

	<%= link_to t('new_text'), new_text_path %>
</div>