<div class="box">
    <h1 class="title">Tuotteet</h1>

	<table class="table">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Nimi englanniksi</th>
        <th>Hinta</th>
        <th>Järjestys</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.name_eng %></td>
          <td><%= product.price %></td>
          <td><%= product.priority %></td>
          <td><%= link_to t('Edit'), edit_product_path(product) %></td>
          <td><%= link_to t('Remove'), product, method: :delete, data: { confirm: "#{t('are_you_sure')}?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

	<br>

	<%= link_to 'Uusi tuote', new_product_path %>
</div>