<nav id="navbar" class="navbar is-danger" role="navigation" aria-label="dropdown navigation">
  <div class="container">
    <div class="navbar-brand">

      <button class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu container" id="navMenu">
      <div class="navbar-start">
        <%= link_to 'Etusivu', '/', :class => "navbar-item" %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to 'Järjestö', '/jarjesto', :class => "navbar-link" %>
          <div class="navbar-dropdown">
            <%= link_to 'Hallitus ja virkailijat', '/hallitus', :class => "navbar-item" %>
            <%= link_to 'Komero', '/komero', :class => "navbar-item" %>
            <%= link_to 'Dokumentit', '/dokumentit', :class => "navbar-item" %>
            <%= link_to 'Yhteystiedot', '/yhteystiedot', :class => "navbar-item" %>
            <%= link_to 'Sähköpostilistat', '/sahkopostilistat', :class => "navbar-item" %>
            <%= link_to 'Yrityksille', '/yrityksille', :class => "navbar-item" %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to 'Toiminta', '/toiminta', :class => "navbar-link" %>
          <div class="navbar-dropdown">
            <%= link_to 'Kerhot', '/kerhot', :class => "navbar-item" %>
            <%= link_to 'Klusteri', '/klusteri', :class => "navbar-item" %>
          </div>
        </div>
        <%= link_to 'Kalenteri', '/kalenteri', :class => "navbar-item" %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to 'Fuksille', '/fuksille', :class => "navbar-link" %>
          <div class="navbar-dropdown">
            <%= link_to 'Fuksiopas', '/fuksiopas', :class => "navbar-item" %>
            <%= link_to 'Tuutorit', '/tuutorit', :class => "navbar-item" %>
            <%= link_to 'Sanastoa', '/sanasto', :class => "navbar-item" %>
            <%= link_to 'Kurssikuvauksia', '/kurssikuvauksia', :class => "navbar-item" %>
          </div>
        </div>
        <% if current_user %>
          <%= link_to 'Omat tiedot', '/omat_tiedot', :class => "navbar-item" %>
        <% else %>
          <%= link_to 'Liity jäseneksi', '/liity', :class => "navbar-item" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
