<nav id="navbar" class="navbar is-danger" role="navigation" aria-label="dropdown navigation">
  <div class="container">
    <%= link_to image_tag("logo.png", :id => 'navbar-logo'), root_path %>
    <div class="navbar-brand">
      <button class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu container" id="navMenu">
      <div class="navbar-start">
        <%= link_to t("home"), root_path, :class => "navbar-item" %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to t("organization"), jarjesto_path, :class => "navbar-link" %>
          <div class="navbar-dropdown">
            <%= link_to t("board_and_positions"), hallitus_path, :class => "navbar-item" %>
            <%= link_to t("komero"), komero_path, :class => "navbar-item" %>
            <%= link_to t("documents"), dokumentit_path, :class => "navbar-item" %>
            <%= link_to t("contact_info"), yhteystiedot_path, :class => "navbar-item" %>
            <%= link_to t("mailing_lists"), sahkopostilistat_path, :class => "navbar-item" %>
            <%= link_to t("for_companies"), yrityksille_path, :class => "navbar-item" %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to t("activity"), toiminta_path, :class => "navbar-link" %>
          <div class="navbar-dropdown">
            <%= link_to t("clubs"), kerhot_path, :class => "navbar-item" %>
            <%= link_to t("klusteri"), klusteri_path, :class => "navbar-item" %>
          </div>
        </div>
        <%= link_to t("calendar"), kalenteri_path, :class => "navbar-item" %>
        <div class="navbar-item has-dropdown is-hoverable">
          <span class="navbar-link"><%= t("studies") %></span>
          <div class="navbar-dropdown">
            <%= link_to t("exam_archive"), tenttiarkisto_path, :class => "navbar-item" %>
            <%= link_to t("course_descriptions"), kurssikuvauksia_path, :class => "navbar-item" %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to t("for_freshers"), fuksille_path, :class => "navbar-link" %>
          <div class="navbar-dropdown">
            <%= link_to t("fresher_guide"), fuksiopas_path, :class => "navbar-item" %>
            <%= link_to t("tutors"), tuutorit_path, :class => "navbar-item" %>
            <%= link_to t("glossary"), sanasto_path, :class => "navbar-item" %>
          </div>
        </div>
        <% I18n.available_locales.each do |locale| %>
          <% if locale != I18n.locale %>
            <%= link_to t("#{locale}"), url_for(locale: "#{locale}"), hreflang: locale, rel: 'alternate', :class => "navbar-item" %>
          <% end %>
        <% end %>
        <% if current_user %>
          <%= link_to t("my_page"), self_path, :class => "navbar-item" %>
        <% else %>
          <%= link_to t("join"), member_sign_up_path, :class => "navbar-item" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
