<li><%= link_to 'Etusivu', '/', class: 'navbar-brand navbar-link' %></li>
<li>
  <span class="navbar-brand dropdown-toggle custom-dropdown">
  <%= link_to 'Järjestö', '/jarjesto', class: "navbar-link" %> <span class="caret"></span>
    <ul class="dropdown-menu custom-dropdown-menu">
      <li><%= link_to 'Hallitus ja virkailijat', '/hallitus' %></li>
      <li><%= link_to 'Komero', '/komero' %></li>
      <li><%= link_to 'Yhteystiedot', '/yhteystiedot' %></li>
      <li><%= link_to 'Sähköpostilistat', '/sahkopostilistat' %></li>
    </ul>
  </span>
</li>
<li>
  <span class="navbar-brand dropdown-toggle custom-dropdown">
  <%= link_to 'Toiminta', '/toiminta', class: "navbar-link" %> <span class="caret"></span>
    <ul class="dropdown-menu custom-dropdown-menu">
      <li><%= link_to 'Kerhot', '/kerhot' %></li>
      <li><%= link_to 'Klusteri', '/klusteri' %></li>
    </ul>
  </span>
</li>
<li><%= link_to 'Kalenteri', events_path, class: 'navbar-brand navbar-link' %></li>
<% if current_user %>
    <li><%= link_to 'Omat tiedot', current_user, class: 'navbar-brand navbar-link' %></li>
<% else %>
    <li><%= link_to 'Liity jäseneksi', new_user_path, class: 'navbar-brand navbar-link' %></li>
<% end %>
