<li class="navbar-item"><%= link_to 'Etusivu', '/', class: 'navbar-brand navbar-link' %></li>
<li class="navbar-item dropdown">
  <div class="dropdown-toggle">
    <a href="/jarjesto" class="navbar-brand navbar-link">
       Järjestö
       <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Hallitus ja virkailijat', '/hallitus' %></li>
      <li><%= link_to 'Komero', '/komero' %></li>
      <li><%= link_to 'Dokumentit', '/dokumentit' %></li>
      <li><%= link_to 'Yhteystiedot', '/yhteystiedot' %></li>
      <li><%= link_to 'Sähköpostilistat', '/sahkopostilistat' %></li>
      <li><%= link_to 'Yrityksille', '/yrityksille' %></li>
    </ul>
  </div>
</li>
<li class="navbar-item dropdown">
  <div class="dropdown-toggle">
    <a href="/toiminta" class="navbar-brand navbar-link">
       Toiminta
       <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
       <li><%= link_to 'Kerhot', '/kerhot' %></li>
       <li><%= link_to 'Klusteri', '/klusteri' %></li>
    </ul>
  </div>
</li>
<li class="navbar-item"><%= link_to 'Kalenteri', events_path, class: 'navbar-brand navbar-link' %></li>
<li class="navbar-item"><%= link_to 'Fuksille', '/fuksille', class: 'navbar-brand navbar-link' %></li>
<% if current_user %>
    <li class="navbar-item"><%= link_to 'Omat tiedot', current_user, class: 'navbar-brand navbar-link' %></li>
<% else %>
    <li class="navbar-item"><%= link_to 'Liity jäseneksi', new_user_path, class: 'navbar-brand navbar-link' %></li>
<% end %>
