<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Matrix ry" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Matrix" %>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'framework' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="body">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/success_notification' %>
    <%= render 'layouts/error_notification' %>
    <% if Rails.env.staging? %>
      <section class="section container">
        <div class="box">
          Olet löytänyt Matrixin tulevien nettisivujen testiympäristön. Sivut ovat vielä vähän kesken. Nykyiset sivut löydät <%= link_to 'täältä', 'https://wiki.helsinki.fi/display/Matrix/Matrix+ry' %>
          <br>
          <br>
          You have found the test environment of Matrix's upcoming website. The current website can be found <%= link_to 'here', 'https://wiki.helsinki.fi/display/Matrix/Matrix+ry' %>
        </div>
      </section>
    <% end %>
    <% if current_user %>
      <section class="section container">
        <%= current_user.name %> kirjautuneena.<br>
        <%= link_to 'Kirjaudu ulos', signout_path, method: :delete %><br>
        <% if sub_admin %>
          <%= link_to 'Admin-toiminnot', '/admin' %>
        <% end %>
      </section>
    <% end %>
    <section class="section container">
      <div class="columns level">
        <div class="column is-one-third">
          <%= image_tag("logo.gif") %>
        </div>
        <div class="column">
          <h1 class='title'>Matematiikan opiskelijaryhmä Matrix ry</h1>
          <br>
          <h2 class='subtitle'>Helsingin yliopiston matematiikan opiskelijoiden ainejärjestö</h2>
        </div>
      </div>
    </section>
    <section class="section container">
      <% if !current_user %>
            <div class="box">
              <%= form_tag session_path do %>
                <div class="field is-horizontal">
                  <div class="field-label is-small">
                    <label class="label">Käyttäjätunnus</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input id="username" name="username" class="input is-small" type="text" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-small">
                    <label class="label">Salasana</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input id="password" name="password" class="input is-small" type="password" required>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label">
                    <!-- Left empty for spacing -->
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <%= submit_tag "Kirjaudu", :class => "button is-link" %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <span><%= link_to 'Unohditko salasanasi?', password_recovery_path %></span><br>
              <span><%= link_to 'Unohditko käyttäjätunnuksesi?', username_recovery_path %></span>
            </div>
      <% end %>
    </section>
    <section class="section container">
      <%= yield %>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <h1 class="title">Yhteistyökumppanit</h1>
          <div class="level">
            <%= link_to 'https://www.accenture.com', { :class=>"level-item" } do %>
              <%= image_tag("accenture.png", size: "200x35") %>
            <% end %>
            <%= link_to 'https://www.futurice.com/', { :class=>"level-item" } do %>
              <%= image_tag("futurice.png", size: "200x35") %>
            <% end %>
            <%= link_to 'https://gofore.com/', { :class=>"level-item" } do %>
              <%= image_tag("gofore_logo_black.png", size: "200x35") %>
            <% end %>
            <%= link_to 'https://www.solita.fi', { :class=>"level-item" } do %>
              <%= image_tag("Solita_logo_2.png", size: "200x35") %>
            <% end %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
