<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Matrix ry" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Matrix" %>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'framework' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('logo.png') %>
  </head>
  <body class="body">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/success_notification' %>
    <%= render 'layouts/error_notification' %>
    <% if Rails.env.staging? %>
      <section class="section container">
        <div class="box">
          Olet löytänyt Matrixin nettisivujen testiympäristön. Oikeat sivut löydät <%= link_to 'täältä', 'https://matrix-ry.fi/' %>
          <br>
          <br>
          You have found the test environment of Matrix's website. The real site can be found <%= link_to 'here', 'https://matrix-ry.fi/' %>
        </div>
      </section>
    <% end %>
    <% if current_user %>
      <section class="section container logged_in">
        <%="#{current_user.name} #{t('logged_in')}"%>
        <%= link_to t('log_out'), signout_path, method: :delete %>
        <% if sub_admin %>
          <%= link_to t('admin_settings'), '/admin' %>
        <% end %>
      </section>
    <% end %>
    <% if !current_user %>
      <section id="login-section" class="container">
        <div class="box">
          <h3 id="log-in" class="title is-6"><a><%= t('log_in') %></a></h3>
          <div id="log-in-area">
            <%= form_tag session_path do %>
              <div class="field is-horizontal">
                <div class="field-label is-small">
                  <label class="label"><%= t('Username') %></label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input id="username" name="username" class="input is-small" type="text" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-small">
                  <label class="label"><%= t('Password') %></label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input id="password" name="password" class="input is-small" type="password" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label">
                  <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <%= submit_tag t('log_in'), :class => "button is-link" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <span><%= link_to "#{t('forgot_password')}?", password_recovery_path %></span>
            <br>
            <span><%= link_to "#{t('forgot_username')}?", username_recovery_path %></span>
          </div>
        </div>
      </section>
    <% end %>
    <section class="section container">
      <%= yield %>
    </section>
    <footer class="footer">
      <div class="container content has-text-centered">
        <h1 class="is-size-3-mobile"><%= t('Partners') %></h1>
        <div class="columns is-multiline">
          <% partners.each do |partner| %>
            <div class="column is-one-quarter">
              <%= link_to partner.link, { :class=>"level-item" } do %>
                <%= image_tag(partner.image.url, size: "200x35") %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </footer>
  </body>
</html>
